:root{
    --textColor: black;
    --whiteColor: white;
    --blackColor: black;
    --mainColor: #ffd000;
    --orangeColor: #ff7300;
    --bodyColor: #8897b9;
}
/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Varela+Round&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
    background-color: var(--bodyColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    transition: all 0.5s ease-out;
    height: 100vh;
}

::-webkit-scrollbar{
    display: none;
}
/* blocking display of checkbox */
input[type="checkbox"]{
    display: none;
}
i{
    font-size: 50px;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calendars{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    margin-top: 150px;
}

.calendars header{
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    color: var(--orangeColor);
}

/* calendar */
.wrapper{
    width: 500px;
    background: var(--whiteColor);
    border-radius: 1.5rem;
    box-shadow: 0 15px 40px rgba(0,0,0,0.3);
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.wrapper header{
    display: flex;
    padding: 1rem 0.5rem;
    color: var(--blackColor);
    margin-bottom: 0.5rem;
}

header .current-date{
    flex: 5;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
header .icons{
    flex: 1;
    display: flex;
}
header .icons span{
    height: 38px;
    width: 38px;
    cursor: pointer;
    color: var(--bodyColor);
    text-align: center;
    line-height: 38px;
    font-size: 2rem;
    user-select: none;
    border-radius: 50%;
}
.icons span:last-child{
    margin-right: -10px;
}
.calendar{
    padding: 1rem 0.7rem;
}
.calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}
.calendar .days{
    margin-bottom: 20px;
}

.calendar li{
    color: var(--blackColor);
    width: calc(100% / 7);
    font-size: 1.4rem;
    
}
.calendar .weeks li{
    font-weight: 600;
    cursor: default;
}
.calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 50px;
}

.days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 50px;
    width: 50px;
    z-index: -1;
    border-radius: 30%;
    transform: translate(-50%, -50%);
}

.days li.inactive{
    color: var(--bodyColor);
}
.days li.active{
    color: var(--textColor);
}

.days li{
    transition: all 0.4s;
}
.days li.today{
    color: var(--whiteColor);
}
.days li.today::before{
    background: var(--orangeColor);  
}
.days li:hover{
    transform: scale(1.1);
}

.blur{
    background: var(--mainColor);
    position: absolute;
    border-radius: 90%;
    filter: blur(150px);
    z-index: -9;
}

.first{
    width: 12rem;
    height: 20rem;
    left: 10rem;
    top: 0;
    transition: all 1s ease-in-out;
}
.second{
    width: 14rem;
    height: 24rem;
    right: 0;
    top: 20rem;
    transition: all 0.5s ease-in-out;
}
.weather-info {
    position: absolute;
    top: 0; /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; /* Ensure the weather info is above the calendar */
    /* Additional styles as needed */
    width:300px;
}


/* Dark Mode */
body.dark{
    --textColor: white;
    --mainColor: #3fffef;
    --bodyColor: #37486d;
}
body.dark .wrapper{
    background: var(--blackColor);
}
body.dark .wrapper header{
    color: var(--whiteColor);
}
body.dark .wrapper header .current-date{
    color: var(--whiteColor);
}
body.dark .calendars header {
    color: var(--mainColor);
}
body.dark .wrapper header .icons span{
    color: var(--mainColor);
}
body.dark .calendar li{
    color: var(--whiteColor);
}
body.dark .calendar .days li{
    color: var(--whiteColor);
}
body.dark .calendar .days li.today::before{
    background: var(--mainColor);
}
body.dark .calendar .days li.active{
    color: var(--textColor);
}
body.dark .calendar .days li.inactive{
    color: var(--bodyColor);
}
body.dark .calendar .days li.today{
    color: var(--blackColor);
}
body.dark .blur{
    background: var(--mainColor);
}

body.dark .first{
    top: 20rem;
    transition: all 0.5s ease-in-out;
}
body.dark .second{
    top: 0;
    transition: all 1s ease-in-out;
}

/* Responsive */
@media screen and (max-width: 768px){
    body{
        height: 100vh;
    }
    .wrapper{
        width: 90%;
    }
    .calendar li{
        color: black;
        width: calc(100% / 7);
        font-size: 1.1rem;
    }
    .calendar .days li{
        z-index: 1;
        cursor: pointer;
        position: relative;
        margin-top: 30px;
    }
    .first{
        width: 50%;
        height: 30rem;
        left: 0;
        top: 0;
    }
    .second{
        display: none;
    }
}
