.address-form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    padding-left: 10% ;
    background-color: #f6f5f9; 
   
}
.address-form-parent{
    display: flex;
    justify-content: center;
    background-color: #f6f5f9;
    
}
.address-header{
    text-align: center;
    padding: 5% 0% 2% 2%;
    font-size: 30px;
    font-family: "Montserrat";
    color: rgba(15, 15, 247, 0.902);
    font-weight: 600;
    background-color: #f6f5f9;
}
.address-form-label{
    font-size: 23px;
    font-family: "Montserrat";
    margin: 15px;
    
    margin-bottom: 7px;
    margin-left:0 ;
    text-align:start;

}
.address-form-input{
    padding: 5px;
    width: 60%;
    border:none;
    border-bottom: 2px solid blue;
    font-size: 23px;
    font-family: "Montserrat";
    font-weight: 500;
    margin-bottom: 10%;
    background-color: #f6f5f9;
}
textarea{
    overflow-y:hidden;
    border :2px solid blue;
}
.address-form-input:focus{
    outline: none;
}
.form-label-input{
    width: 40%;
    margin: 0 0% 0 8%;
}
.address-checkout-btn{
    margin: 5% 11% 8% 0;
    padding:1% 3.5%;
    border: none;
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgb(1, 1, 84);
    background-color: rgba(15, 15, 247, 0.902);
    color: white;
    font-family: "Montserrat";
    font-size: 25px;
    
}
.address-checkout-btn:active{
    box-shadow: none;
}

@media only screen and (max-width: 768px) {
    .address-form{
        flex-direction: column;
    }
    .address-header{
        font-size: 1.75rem;
    }
    .address-form-label{
        font-size: 1.25rem;
        text-align: center;
    }
    .address-checkout-btn{
        font-size: 1.25rem;
        width: 40%;
        display: block;
        margin: 5% auto;
    }
    .form-label-input{
        margin: 0 auto;
        width: 60%;
    }
    .address-form-input{
        display: block;
        margin: 0 auto;
    }
}