*{
    margin: 0;
    padding: 0;
    /* background-color: #f6f5f9;  */
}

  @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital@1&family=Montserrat&family=Poppins:wght@300;400;500;600;700;800&family=Sacramento&display=swap');

.navbar{
     background-color: #f6f5f9; 
    display: flex;
    justify-content: space-between;
}
.right{
    display: flex;
}
.logo{
    margin:10px 10px 10px 5px;
    padding: 10px;
    font-family: "Montserrat";
     font-size: 20px;
     color:#6C63FF; 
     font-weight: 600;
     cursor: pointer;

}
.logo:hover{
    color: blue;
}
.left{
    display: flex;
}
/* #11009E */
.right>li{
     margin:10px 10px 10px 15px;
     
     padding: 10px;
     list-style: none;
     font-family: "Montserrat";
     font-size: 20px;
     color:#6C63FF ;
     font-weight: 600;
     cursor: pointer;

}
.right>li:hover{
    color: blue;
    cursor: pointer;
}
.material-symbols-rounded{
    /* margin:10px 10px 10px 15px;
    padding: 10px; */
    font-size: 35px;
    margin:5px 0px 10px 15px;
    padding: 10px 0px 10px 10px;
    color: #6C63FF;
    font-weight: 600;
    cursor: pointer;

}
.material-symbols-rounded:hover{
    color: blue;
}
.right>a{
    text-decoration: none;
}
.right>a:visited{
    color: #6C63FF;
}

@media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .right {
      flex-direction: column;
      margin: 0 auto;
    }
  
    .right > li {
      margin: 10px 0;
    }
    .left{
        margin: 0 auto;
    }
  
    .logo,
    .material-symbols-rounded {
      margin: 10px 0;
    }
    .material-symbols-rounded {
        display: none;
    }
    .Menu-Logout-button{
        width: 100%;
    }
  }