*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
header {
  display: flex;
  flex-direction: row;
  background-color: rgb(231 231 231 / 82%);
  height: 4.5rem;
  justify-content: space-between;
  box-shadow: 0px 0.1rem 0.9rem black;
  position: sticky;
  top: 0;
}
.container1 img {
  height: 150%;
  width: 100%;
  margin-left: 25px;
  border-radius: 20px 20px 20px 20px;
  position: relative;
  top: 20px;
}
.container2 {
  margin-top: 20px;
}
.container2 ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 5rem;
}
.container2 a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
.container2 a:hover {
  color: gold;
}
.container2 ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: gold;
  display: block;
  transition: 0.2s linear;
}
.container2 ul li a:hover::after {
  width: 100%;
}
.container3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.container3 span {
  font-size: 30px;
  padding-right: 50px;
}
.container3 span:hover {
  color: gold;
  cursor: pointer;
}
.main1 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.box1 {
  width: 60%;
  height: 39.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 4rem;
}
.box1 .item1 {
  padding: 0px 100px 0px 100px;
}
.box1 .item2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 100px 0px 100px;
}
.box1 .item3 {
  padding: 0px 100px 0px 100px;
}
.box1 .item3 button {
  height: 3rem;
  width: 10rem;
  border: none;
  background-color: rgba(255, 217, 0, 0.763);
  font-size: 1.2rem;
  cursor: pointer;
}
.box1 .item3 button:hover {
  background-color: gold;
  border: 1px solid black;
  border-radius: 5px;
}
.box2 {
  width: 40%;
  height: 39.5rem;
}
.box2 img {
  width: 100%;
  height: 100%;
  mix-blend-mode: darken;
}
.content {
  font-style: italic;
  font-size: 2.5rem;
  color: yellow;
  text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.632);
}
.main2 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.main2 .box3 {
  
  width: 45%;
}
.main2 .box3 img {
  width: 100%;
  border-radius: 2px;
}
.main2 .box4 {
  
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.main2 .box4 .item4 h1 {
  text-align: center;
  font-family: cursive;
  padding: 0px 480px 0px 0px;
}
.us {
  color: gold;
  font-family: cursive;
}
.main2 .box4 .item5{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px 0px 100px;
}
.main3{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px 100px 0px 100px;
}
.menu{
    text-align: center;
    font-weight: bolder;
}
.menu h1::after{
    content: '';
    width: 0;
    height: 2px;
    display: block;
    background-color: gold;
    transition: 0.2s linear;
}
.menu h1:hover::after{
    width: 100%;
}
.main3 .banner1{
    
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}
.main3 .banner1 .food1{
    border: 1px solid rgb(0, 0, 0);
    width: 25%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 5px rgb(6, 6, 6);
}
.main3 .banner1 .food1 img{
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid black;
}
.main3 .banner1 .food1 h2{
    text-align: center;
    padding-top: 10px;
}
.main3 .banner1 .food1 .des{
    padding: 0px 20px 0px 20px;
}
.main3 .banner1 .food1 .money{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 30px;
    font-weight: bold;
}
.main3 .banner1 .food1 .money button{
    width: 5rem;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: gold;
    cursor: pointer;
}
.main3 .banner1 .food2{
    border: 1px solid rgb(0, 0, 0);
    width: 25%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 5px rgb(6, 6, 6);
}
.main3 .banner1 .food2 img{
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid black;
}
.main3 .banner1 .food2 h2{
    text-align: center;
    padding-top: 10px;
}
.main3 .banner1 .food2 .des{
    padding: 0px 20px 0px 20px;
}
.main3 .banner1 .food2 .money{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 30px;
    font-weight: bold;
}
.main3 .banner1 .food2 .money button{
    width: 5rem;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: gold;
    cursor: pointer;
}   
.main3 .banner1 .food3{
    border: 1px solid rgb(0, 0, 0);
    width: 25%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 5px rgb(6, 6, 6);
}
.main3 .banner1 .food3 img{
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid black;
}
.main3 .banner1 .food3 h2{
    text-align: center;
    padding-top: 10px;
}
.main3 .banner1 .food3 .des{
    padding: 0px 20px 0px 20px;
}
.main3 .banner1 .food3 .money{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 30px;
    font-weight: bold;
}
.main3 .banner1 .food3 .money button{
    width: 5rem;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: gold;
    cursor: pointer;
}   
.main3 .banner1 .food4{
    border: 1px solid rgb(0, 0, 0);
    width: 25%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 5px rgb(6, 6, 6);
}
.main3 .banner1 .food4 img{
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid black;
}
.main3 .banner1 .food4 h2{
    text-align: center;
    padding-top: 10px;
}
.main3 .banner1 .food4 .des{
    padding: 0px 20px 0px 20px;
}
.main3 .banner1 .food4 .money{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 30px;
    font-weight: bold;
}
.main3 .banner1 .food4 .money button{
    width: 5rem;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: gold;
    cursor: pointer;
}
.main3 .banner2{
    
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}
.main3 .banner2 .food1{
    border: 1px solid rgb(0, 0, 0);
    width: 25%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 5px rgb(6, 6, 6);
}
.main3 .banner2 .food1 img{
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid black;
}
.main3 .banner2 .food1 h2{
    text-align: center;
    padding-top: 10px;
}
.main3 .banner2 .food1 .des{
    padding: 0px 20px 0px 20px;
}
.main3 .banner2 .food1 .money{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 30px;
    font-weight: bold;
}
.main3 .banner2 .food1 .money button{
    width: 5rem;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: gold;
    cursor: pointer;
}
.main3 .banner2 .food2{
    border: 1px solid rgb(0, 0, 0);
    width: 25%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 5px rgb(6, 6, 6);
}
.main3 .banner2 .food2 img{
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid black;
}
.main3 .banner2 .food2 h2{
    text-align: center;
    padding-top: 10px;
}
.main3 .banner2 .food2 .des{
    padding: 0px 20px 0px 20px;
}
.main3 .banner2 .food2 .money{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 30px;
    font-weight: bold;
}
.main3 .banner2 .food2 .money button{
    width: 5rem;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: gold;
    cursor: pointer;
}
.main3 .banner2 .food3{
    border: 1px solid rgb(0, 0, 0);
    width: 25%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 5px rgb(6, 6, 6);
}
.main3 .banner2 .food3 img{
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid black;
}
.main3 .banner2 .food3 h2{
    text-align: center;
    padding-top: 10px;
}
.main3 .banner2 .food3 .des{
    padding: 0px 20px 0px 20px;
}
.main3 .banner2 .food3 .money{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 30px;
    font-weight: bold;
}
.main3 .banner2 .food3 .money button{
    width: 5rem;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: gold;
    cursor: pointer;
} 
.main3 .banner2 .food4{
    border: 1px solid rgb(0, 0, 0);
    width: 25%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 5px rgb(6, 6, 6);
}
.main3 .banner2 .food4 img{
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid black;
}
.main3 .banner2 .food4 h2{
    text-align: center;
    padding-top: 10px;
}
.main3 .banner2 .food4 .des{
    padding: 0px 20px 0px 20px;
}
.main3 .banner2 .food4 .money{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 30px;
    font-weight: bold;
}
.main3 .banner2 .food4 .money button{
    width: 5rem;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: gold;
    cursor: pointer;
}
.main3 .banner3{
    
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}
.main3 .banner3 .food1{
    border: 1px solid rgb(0, 0, 0);
    width: 25%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 5px rgb(6, 6, 6);
}
.main3 .banner3 .food1 img{
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid black;
}
.main3 .banner3 .food1 h2{
    text-align: center;
    padding-top: 10px;
}
.main3 .banner3 .food1 .des{
    padding: 0px 20px 0px 20px;
}
.main3 .banner3 .food1 .money{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 30px;
    font-weight: bold;
}
.main3 .banner3 .food1 .money button{
    width: 5rem;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: gold;
    cursor: pointer;
}
.main3 .banner3 .food2{
    border: 1px solid rgb(0, 0, 0);
    width: 25%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 5px rgb(6, 6, 6);
}
.main3 .banner3 .food2 img{
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid black;
}
.main3 .banner3 .food2 h2{
    text-align: center;
    padding-top: 10px;
}
.main3 .banner3 .food2 .des{
    padding: 0px 20px 0px 20px;
}
.main3 .banner3 .food2 .money{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 30px;
    font-weight: bold;
}
.main3 .banner3 .food2 .money button{
    width: 5rem;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: gold;
    cursor: pointer;
}
.main3 .banner3 .food3{
    border: 1px solid rgb(0, 0, 0);
    width: 25%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 5px rgb(6, 6, 6);
}
.main3 .banner3 .food3 img{
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid black;
}
.main3 .banner3 .food3 h2{
    text-align: center;
    padding-top: 10px;
}
.main3 .banner3 .food3 .des{
    padding: 0px 20px 0px 20px;
}
.main3 .banner3 .food3 .money{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 30px;
    font-weight: bold;
}
.main3 .banner3 .food3 .money button{
    width: 5rem;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: gold;
    cursor: pointer;
}
.main3 .banner3 .food4{
    border: 1px solid rgb(0, 0, 0);
    width: 25%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 5px rgb(6, 6, 6);
}
.main3 .banner3 .food4 img{
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid black;
}
.main3 .banner3 .food4 h2{
    text-align: center;
    padding-top: 10px;
}
.main3 .banner3 .food4 .des{
    padding: 0px 20px 0px 20px;
}
.main3 .banner3 .food4 .money{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 30px;
    font-weight: bold;
}
.main3 .banner3 .food4 .money button{
    width: 5rem;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: gold;
    cursor: pointer;
}
.main4{
    display: flex;
    flex-direction: column;
    
}
.main4 .rev{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.main4 #cust{
    font-family: cursive;
    font-size: 2.5rem;
    color: gold;
    text-shadow: 2px 0px 0px black;
    cursor: pointer;
}
#cust::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: gold;
    display: block;
    transition: 0.2s linear;

}
#cust:hover::after{
    width: 100%;
    
}
.main4 .banner4{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}
.main4 .banner4 .rev1{
    border: 1px solid rgb(0, 0, 0);
    width: 25%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 5px rgb(6, 6, 6);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.main4 .banner4 .rev1 img{
    width: 60%;
    height: 50%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid black;
    border-radius: 100%;
}
.main4 .banner4 .rev2{
    border: 1px solid rgb(0, 0, 0);
    width: 25%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 5px rgb(6, 6, 6);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main4 .banner4 .rev2 img{
    width: 60%;
    height: 50%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid black;
    border-radius: 100%;
}
.main4 .banner4 .rev3{
    border: 1px solid rgb(0, 0, 0);
    width: 25%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 5px rgb(6, 6, 6);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main4 .banner4 .rev3 img{
    width: 60%;
    height: 50%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid black;
    border-radius: 100%;
}
.main4 .banner4 .rev4{
    border: 1px solid rgb(0, 0, 0);
    width: 25%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 5px rgb(6, 6, 6);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main4 .banner4 .rev4 img{
    width: 60%;
    height: 50%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid black;
    border-radius: 100%;
}
.main4 .banner4 p{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 50px 0px 50px;
    text-align: center;
}
footer{
    display: flex;
    flex-direction: row;
    background-color: rgba(198, 196, 196, 0.82);
    width: 100%;
    margin-top: 90px;
    height: 350px;
    justify-content: space-between;
    padding: 20px 100px 0px 100px;
}
footer .location{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer .quick{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer .quick a{
    text-decoration: none;
}
footer .contact{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer .ourservice{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer ion-icon{
    margin-top: 19px;
    padding: 5px;
}