/* Common Styles */
.container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  z-index: 100;
}

#loginButton {
  background-color: #f44336; 
  color: white; 
  padding: 10px 20px; 
  border: none;
  border-radius: 10px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.3s ease; 
 margin-top: -1.5rem;
 margin-right: -7rem;
}

/* Hover Effect */
#loginButton:hover {
  background-color: #e53935; /* Slightly darker green */
  transform: scale(1.05); /* Slightly increase the size of the button */
}

/* Focus Effect */
#loginButton:focus {
  outline: none; /* Remove outline on focus */
  box-shadow: 0 0 5px rgba(244, 67, 54, 0.6); /* Add subtle glow effect */
}
.radio-wrapper {
  position: relative;
  height: 55px;
  width: 110px;
  margin: 3px;
}

.btn {
  font-size: 15px;
  position: relative;
  font-weight: 900;
  width: 100%;
  height: 100%;
  line-height: 38px;
  text-align: center;
}

.btn a {
  text-decoration: none;
  display: block;
  font-family: 'Poppins';
  font-size: 20px;
  color: white;
  font-weight: bold;
  position: relative;
  z-index: 1;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #23abd4, #23abd4 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  text-shadow: 0 0 3px #4b4949, 0 0 10px rgba(167, 45, 237, 0.3), 0 0 20px rgba(167, 45, 237, 0.4), 0 0 30px rgba(167, 45, 237, 0.5), 0 0 40px rgba(167, 45, 237, 0.6), 0 0 50px rgba(167, 45, 237, 0.7);
}

.btn a:before {
  display: block;
  content: '';
  width: 0;
  height: 3px;
  bottom: 5px;
  left: 0;
  bottom: -3px;
  z-index: 0;
  position: absolute;
  background: #23abd4;
  transition: all 0.3s ease-in-out;
}

.btn a:hover {
  background-position: 0%;
}

.btn a:hover:before {
  width: 100%;
}

.hamburger {
  color: white;
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1001;
}

.main.navbar.dark-theme {
  background: #000000; /* Dark background */
  color: #a49090; /* Light text color */
}



.hamburger .line {
  width: 30px;
  height: 3px;
  background: white;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
}

 @media (max-width: 768px) {
    .container {
    flex-direction: column;
    background: linear-gradient(to right, rgba(128, 128, 128, 0.5), rgba(64, 64, 64, 0.5));
    position: fixed;
    top: 0;
    left: 20%; /* Add margin from the left */
    width: 80%; /* Adjust width to fit the remaining space */
    height: 24rem;
    z-index: 100;
    padding: 1rem; 
    }
 }  
  
/*
  .navbar.open .container {
    display: flex; /* Show the navbar when the menu is open */
  /* } */

  
  /* .hamburger {
    display: flex;
  }



  .hamburger.open .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.open .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}

