@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(130deg, #ff6060, #f47aff);
  display: flex;
  align-items: center;
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: white;
}
.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  width: 100vw;
}
.recent {
  background-color: #631133;
  color: #ccc;
  width: 300px;
  height: 100vh;
  padding-left: 50px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 5;
}
.recent > ul {
  color: #c4c4c4;
  margin-top: 10px;
  margin-left: 5px;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 26px;
  margin-bottom: 5px;
}
#up {
  width: 100px;
  margin-right: 10px;
  background-color: #020202;
  border: 1px solid#999999;
  border-radius: 10px;
}
#up:hover {
  background-color: #333;
}
#in {
  width: 100px;
  margin-right: 10px;
  background-color: #020202;

  border-radius: 10px;
}
#in:hover {
  background-color: #333;
}

.container {
  position: relative;
  width: 40rem;
  color: white;
  background-color: #631133;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0 4px 30px #b9256f;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid #0000001a;
  margin-left: 98px;
  margin-top: 150px;
  flex-grow: 1;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (width < 1080px) {
  .container {
    width: 26rem;
    margin-left: 30px;
  }
}
@media screen and (width < 812px) {
  .container {
    width: 25rem;
    margin-left: -92px;
  }
}
@media screen and (width < 612px) {
  .container {
    margin-left: -182px;
  }
}
@media screen and (width < 536px) {
  .container {
    margin-left: -252px;
  }
}

h1 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
}

p {
  font-size: 15px;
  color: #fdb2d7;
  line-height: 1.4rem;
  text-align: justify;
}

.gen-form {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  width: 100%;
}

input {
  width: 80%;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 15px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #ffc1d9;
  transition: all 0.3s ease;
}

input:hover,
input:focus {
  border: 1px solid #ff5d9b;
}

button {
  width: 20%;
  background-color: #ca0551;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

button:hover {
  background-color: transparent;
  border: 1px solid #ff5d9b;
}

#loading {
  display: none;
  font-size: 18px;
  margin: 10px 0;
}

button:disabled,
button[disabled] {
  border: 1px solid #999;
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.result {
  margin-top: 10px;
  width: 100%;
  padding: 10px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 10px;
  max-width: 80%;
}

#image-grid img {
  max-width: 100%;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

#image-grid img:hover {
  border-color: #fe5a8b;
}

@media screen and (width < 480px) {
  input {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  #generate {
    font-size: 11px;
    padding: 0 2px;
  }
}

.hourglassBackground {
  position: relative;
  background-color: #5c031e;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin: 30px auto;
}

.hourglassContainer {
  position: absolute;
  top: 30px;
  left: 40px;
  width: 50px;
  height: 70px;
  -webkit-animation: hourglassRotate 2s ease-in 0s infinite;
  animation: hourglassRotate 2s ease-in 0s infinite;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.hourglassContainer div,
.hourglassContainer div:before,
.hourglassContainer div:after {
  transform-style: preserve-3d;
}

@-webkit-keyframes hourglassRotate {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(180deg);
  }
}

@keyframes hourglassRotate {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(180deg);
  }
}

.hourglassCapTop {
  top: 0;
}

.hourglassCapTop:before {
  top: -25px;
}

.hourglassCapTop:after {
  top: -20px;
}

.hourglassCapBottom {
  bottom: 0;
}

.hourglassCapBottom:before {
  bottom: -25px;
}

.hourglassCapBottom:after {
  bottom: -20px;
}

.hourglassGlassTop {
  transform: rotateX(90deg);
  position: absolute;
  top: -16px;
  left: 3px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #8a012a;
}

.hourglassGlass {
  perspective: 100px;
  position: absolute;
  top: 32px;
  left: 20px;
  width: 10px;
  height: 6px;
  background-color: #999999;
  opacity: 0.5;
}

.hourglassGlass:before,
.hourglassGlass:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #999999;
  left: -17px;
  width: 44px;
  height: 28px;
}

.hourglassGlass:before {
  top: -27px;
  border-radius: 0 0 25px 25px;
}

.hourglassGlass:after {
  bottom: -27px;
  border-radius: 25px 25px 0 0;
}

.hourglassCurves:before,
.hourglassCurves:after {
  content: "";
  display: block;
  position: absolute;
  top: 32px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #333;
  animation: hideCurves 2s ease-in 0s infinite;
}

.hourglassCurves:before {
  left: 15px;
}

.hourglassCurves:after {
  left: 29px;
}

@-webkit-keyframes hideCurves {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hideCurves {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.hourglassSand:before,
.hourglassSand:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #f2a503;
  border-radius: 50%;
  top: 30px;
  left: 21px;
  width: 8px;
  height: 8px;
  animation: halfSecondDrip 1s ease-in 0s infinite;
}

.hourglassSand:after {
  top: 0;
}

@-webkit-keyframes halfSecondDrip {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes halfSecondDrip {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.hourglassSandStream {
  position: absolute;
  top: 32px;
  left: 23px;
  width: 2px;
  height: 16px;
  background-color: #f2a503;
  opacity: 0;
  animation: sandStreamDrop 2s ease-in 0s infinite;
}

@-webkit-keyframes sandStreamDrop {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sandStreamDrop {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.hourglassCapTop,
.hourglassCapBottom {
  position: absolute;
  left: 0;
  width: 50px;
  height: 5px;
  background-color: #333333;
  border-radius: 0 0 50% 50%;
  perspective: 100px;
}

.hourglassCapTop:before,
.hourglassCapBottom:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 50px;
  height: 5px;
  background-color: #999999;
}

.hourglassCapTop:after,
.hourglassCapBottom:after {
  content: "";
  display: block;
  position: absolute;
  left: 3px;
  width: 44px;
  height: 4px;
  background-color: #666666;
  border-radius: 50%;
}

.hamburger-menu {
  display: block;
  color: #fffbfb;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.recent.closed {
  transform: translateX(-100%);
}

@media (max-width: 768px) {
  .recent {
    transform: translateX(-100%);
  }

  .recent.open {
    transform: translateX(0);
  }
}
