@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  font-family: "Quicksand";
  font-size: 15px;
}
.navbar {
  padding: 15px 8px 10px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1550px;
  margin: 0 auto;
  background-color: #00060b;
  border-bottom: 2px solid rgb(142, 149, 10);
}
.navbar h4 {
  color: aliceblue;
}
.navbar h4:hover {
  color: rgb(90, 223, 114);
}
.navbar h3 {
  color: rgb(115, 255, 0);
}
.navbar h3:hover {
  color: rgb(40, 119, 244);
}
.right button:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(7, 177, 189);
}
.left {
  padding-left: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  color: bisque;
  gap: 35px;
  max-width: 700px;
}
.right {
  display: flex;
  align-items: center;
  color: rgb(103, 135, 198);
  gap: 25px;
  max-width: 700px;
}
.signout {
  border-radius: 12px;
  border-color: rgb(221, 24, 129);
  color: rgb(140 173 200);
  background-color: rgb(0, 0, 0);
}
@media screen and (max-width: 500px) {
  .navbar {
    padding: 15px 10px 10px 10px;
  }
  * {
    font-size: 10px;
  }
  .left {
    gap: 25px;
  }
}
