*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
}
.logo{
    width: 120px;
    padding: 20px 0;
    cursor: pointer;
}
.content{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}
.content p{
    font-size: 20px;
    font-weight: 500;
}
.content h2{
    font-size: 64px;
    font-weight: 600;
}
.content h2 span{
    color: #ff3253;
}
.content button{
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 12px 25px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}
.content button:hover{
    background: #ff3253;
    transition: all .3s ease-in-out;
}
.content button img{
    width: 15px;
    margin-left: 10px;
}
.launch-time{
    display: flex;
}
.launch-time div{
    flex-basis: 110px;
}
.launch-time div p{
    font-size: 62px;
    margin-bottom: 4px;
}
.rocket{
    width: 250px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: rocket 4s linear infinite;
}
@keyframes rocket {
    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }
}
