* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}
header {
  padding-top: 50px;
  padding-bottom: 50px;
}
header h1 {
  color: #aaa;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}
header h1 strong {
  color: #313131;
}
.content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content-wrap aside {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 250px;
  flex: 1 1 250px;
  max-width: 250px;
  padding-right: 16px;
}
.content-wrap aside nav {
  padding-left: 16px;
  padding-right: 16px;
}
.content-wrap aside nav h3 {
  color: #313131;
  font-size: 24px;
  margin-bottom: 16px;
}
.content-wrap aside nav a {
  display: flex;
  /* padding: 8px 16px; */
  text-align: left;
  color: #888;
  font-size: 16px;
  margin-bottom: 16px;
  /* background-color: #eee; */
  border-radius: 999px;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/* .content-wrap aside nav a:hover {
  background-color: #313131;
  color: #aaa;
} */
.content-wrap main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  padding: 0px 16px;
}
.content-wrap main .main-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.content-wrap main .main-head .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  gap: 1rem;
}
.content-wrap main .main-head .search-box input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 16px;
  border-radius: 999px;
  background-color: #eee;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.content-wrap main .main-head .search-box input ::-webkit-input-placeholder {
  color: #888;
}
.content-wrap main .main-head .search-box input :-ms-input-placeholder {
  color: #888;
}
.content-wrap main .main-head .search-box input ::-ms-input-placeholder {
  color: #888;
}
.content-wrap main .main-head .search-box input ::placeholder {
  color: #888;
}
.content-wrap main .main-head .search-box input:focus,
.content-wrap main .main-head .search-box input:valid {
  background-color: #313131;
  color: #fff;
}
.content-wrap main .anime-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 32px;
  margin: 32px -8px 0px;
}
.content-wrap main .anime-list .anime-card {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 33.333%;
  flex: 1 1 33.333%;
  max-width: 33.333%;
  padding: 16px 8px;
}
.content-wrap main .anime-list .anime-card a {
  text-decoration: none;
}
.content-wrap main .anime-list .anime-card figure {
  display: block;
  margin-bottom: 16px;
}
.content-wrap main .anime-list .anime-card figure img {
  display: block;
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 16px;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.content-wrap main .anime-list .anime-card h3 {
  color: #313131;
}
.content-wrap main .anime-list .anime-card:hover figure img {
  -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
/*# sourceMappingURL=main.css.map */

.filter-anime {
  background-color: #313131 !important;
}

.social-media {
  position: absolute;
  top: 50px;
  right: 20px;
}
