
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');


body {
    background-color: #5880b4;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
}

button {
    background-color: powderblue;
    
}


h1{
    color:#d9edef
}
p{
    color:#c9c6e4
}

.btn {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size 14px;
    padding: 10px;
    outline: none;
    border-radius: 30%;
    border:3px solid #8071c1
}
.btn:hover{
    color:#100b4d;
    background-color: #fff;
    text-decoration: underline;
}
input {
    width: 100%;
    padding: 5px 14px;
    border: 3px solid #8071c1;
    margin-bottom: 10px;
    background-color: rgba(0,0,0,.4);
    outline: none;
    color: #fff;
    font-size: 14px;
}

input:focus {
    border: 2px solid rgba(165, 204, 222, 0.4);
    background-color: rgb(60,60,60);
}

form {
    background-color: #07363a;
    padding: 20px;
    color: #100b4d;
    border: 3px dotted palevioletred;
    border-radius: 12px; 

}

form p {
    margin-bottom: 10px;
}

form p:nth-child(1){
    margin-top: 0;
}

.panel {
    margin-top: 20px;
    float: none;
}

@media (min-width: 768px) {
    .panel {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1024px) {
    .panel {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }
}
table{
    height: 100px;
    width: 550px;
    background-color:palevioletred;
    margin: 0 auto;
    border: 5px solid #fff;
    padding: 10px;
}


table.td,th{
    margin: auto;
    text-align: center;
    border: 2px solid rgb(249, 248, 252) ;
    color:rgb(74, 5, 52);
}
table.th,td{
    margin: auto;
    text-align: center;
    border: 2px solid rgb(247, 238, 238) ;
    color:#fff
}