:root {
    --deg: 90deg;
    --carolina-blue: #56aaff;
    --royal-blue-light: #4169e1;
}

body {
    font-family: Arial, sans-serif;
    background: url('./assets/images/image.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.appointment-form-container {
    background: linear-gradient(var(--deg), var(--carolina-blue) 0%, var(--royal-blue-light) 100%);
    padding: 20px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 550px;
    text-align: center;
    margin-left: -40rem;
}

.appointment-form-container h2 {
    margin-bottom: 20px;
    color:black;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

.form-group input,
.form-group textarea {
    width: 100%;
    background: #ccc;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #007bff;
}

.submit-btn {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit-btn:hover {
    
    transform: scale(1.05);
}

.popup {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #28a745;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.btn:is(:hover, :focus) {
    --deg: -90deg;
}