@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@700&display=swap');

:root {
  --color-primary: #6f6af8;
  --color-primary-light: hsla(242, 91%, 69%, 18%);
  --color-primary-variant: #5854c7;
  --color-red: #da0f3f;
  --color-red-light: ■ hsla(346, 87%, 46%, 15%);
  --color-green: #00c476;
  --color-green-light: hsla(156, 100%, 38%, 15%);
  --color-gray-900: #1e1e66;
  --color-gray-700: #2d2b7c;

  --color-white: #f2f2fe;
  --color-bg: #0f0f3e;

  --transition: all 300ms ease;

  --container-width-lg: 74%; /* for large devices*/
  --container-width-md: 88%; /* for medium/small devices*/
  --form-width: 40%;

  --card-border-radius-1: 0.3rem;
  --card-border-radius-2: 0.5rem;
  --card-border-radius-3: 0.8rem;
  --card-border-radius-4: 2rem;
  --card-border-radius-5: 5rem;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  appearance: 0;
  list-style: none;
  text-decoration: none;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", "sans-serif";
  line-height: 1.6;
  max-width: 100vw;
  background: rgb(255,3,224);
  background: linear-gradient(146deg, rgba(255,3,224,1) 3%, rgba(61,5,195,1) 18%, rgba(0,1,4,1) 26%);
  font-size: 0.9rem;
}

.container {
  width: var(--container-width-lg);
  max-width: 1800px;
  margin-inline: auto;
  overflow-x: hidden;
}

section {
  margin-top: 3rem;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-white);
  line-height: 1.3;
}

h1 {
  font-size: 3rem;
  margin: 1rem 0;
}

h2 {
  font-size: 1.7rem;
  margin: 1rem 0;
}

h3 {
  font-size: 1.1rem;
  margin: 0.8rem 0 0.5rem;
}

h4 {
  font-size: 1rem;
}

a {
  color: var(--color-white);
  transition: var(--transition);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/*####################   NAVBAR  ####################*/

nav {
  border-bottom: 1px solid white;
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 4.5rem;
  position: fixed;
  overflow: hidden;
  top: 0;
  z-index: 10;
}

nav button {
  display: none;
}

.nav__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-weight: 600;
  font-size: 1.2rem;
}

.nav__items {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav__items ul li {
  left: -5rem;
}
/*#################################### GENERAL  ####################################*/

.post {
  margin-top: 10rem;
  padding-left: 2rem;
}

.post h1 {
  font-size: 80px;
  font-weight: 400;
  line-height: 97px;
  letter-spacing: 0em;
  text-align: left;
}

.post-head{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}

.post__title {
  display: flex;
  padding: 2rem;
  justify-content: center;
  width: auto;
  font-weight: 400;
  font-size: 4.688rem;
  line-height: 96.82px;
}

.post__body {
  display: flex;
  justify-content: center;
  color: var(--color-white);
  font-weight: 300;
  font-size: 16px;
  line-height: 25.82px;
  margin-top: 1.6rem;
}

/*#################################### PART A  ####################################*/

.child1 {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.logo{
  color: var(--color-white);
  margin-top: 2rem;
}

.discover-more {
  border: 2px solid white;
  width: 12.6rem;
  height: 1.2rem;
  color: var(--color-white);
  padding: 1rem;
  border-radius: var(--card-border-radius-4);
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  font-weight: 300;
  font-size: 0.9rem;
  cursor: pointer;
}

.discover-more:hover{
  transition: 100ms ease;
  background: rgb(0,255,187);
background: linear-gradient(90deg, rgba(0,255,187,1) 16%, rgba(0,241,255,1) 37%, rgba(0,40,255,1) 72%, rgba(200,0,255,1) 99%);
}

.discover-more i{
  font-size: 12px;
  margin-left: 2rem;
}

.c-image-1{
  display: inline-flex;
  justify-content: center;
  width: 37.156rem;
  height: 44.875rem;
  top: 0;
  float: right;
  z-index: -1;
}


/*#################################### PART B  ####################################*/

.wrapper {
  max-width: 100%;
  overflow: hidden;
}

.ruler {
  white-space: nowrap;
  padding: 0.3rem;
  color: var(--color-white);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  overflow: hidden;
  display: inline-block;
  animation: ruler 10s linear infinite;
}

.ruler p {
  display: inline-block;
  font-family: Inter;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

@keyframes ruler {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
.ruler i {
  font-size: 40px;
}

.ruler span {
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0em;
}

/*#################################### PART C  ####################################*/

.c-image img {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid white;
  width: 32rem;
  height: 28rem;
  filter: brightness(30%);
  filter: contrast(120%);
  filter: drop-shadow(0px 0px 120px purple);
}

.c-image-4_1 {
  float: left;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  
}

.c-image-4_1 img {
  position: relative;
  width: 12.063rem;
  height: 12.125rem;
}


.c-image-4_2 {
  float: left;
  display: grid;
  gap: 2rem;
  grid-template-rows: repeat(2, 1fr);
  
}

.c-image-4_2 img {
  width: 12.063rem;
  height: 12.125rem;
  margin-left: 5rem;
  
}

.pic3{
  margin-left: 2rem;
}

.pic5{
  margin-top: 3rem;
}

.pic6{
  margin-top: 4rem;
}

.pic4{
  margin-top: 2rem;
  margin-left: 4rem;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 5rem;
  padding-bottom: 2rem;
  width: auto;
  background: rgb(10,10,10);
  background: linear-gradient(165deg, rgba(10,10,10,1) 46%, rgba(0,14,255,1) 100%);
}

.footer__container h4 {
  font-weight: 600;
  font-size: 60px;
  line-height: 96px;
}

.footer__container ul {
  font-weight: 300;
  font-size: 18px;
  line-height: 28.8px;
  justify-content: center;
  grid-auto-flow: column;
}

.post-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
}


.post-info-4 .post__body-4{
  margin-left: 7rem;
  margin-right: 2rem;
  
}
.post-info-4 .post__title-4{
  margin-left: 4rem;
  display: flex;
  padding: 2rem;
  width: auto;
  font-weight: 400;
  font-size: 4.688rem;
  line-height: 96.82px;
}

.dialog-4{
  margin-left: 7rem;
  font-weight: 300;
  font-size: 0.9rem;
}

/*  MEDIA QUERIES   */

@media screen and (max-width: 1025px) {
  /*  GENERAL */

  body {
    overflow-x: hidden;
  }

  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 0.8rem;
  }

  /*NAVBAR*/

  nav button {
    display: inline-block;
    font-size: 1.5rem;
    background: transparent;
    color: var(--color-white);
    cursor: pointer;
  }

  nav button#close__nav-btn {
    display: none;
  }

  .nav__container {
    position: relative;
  }

  .nav__items {
    position: absolute;
    flex-direction: column;
    top: 100%;
    right: 0;
    width: 12rem;
    justify-content: center;
    gap: 0;
  }

  .nav__items li {
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    box-shadow: -2rem 3rem 7rem rgba(0, 0, 0, 0.7);
    border-top: 1px solid var(--color-bg);
    animation: animateDropdown 4s 0s ease forwards;
    opacity: 0;
    transform-origin: top;
  }

  .nav__items li:nth-child(2) {
    animation-delay: 200ms;
  }
  .nav__items li:nth-child(3) {
    animation-delay: 400ms;
  }
  .nav__items li:nth-child(4) {
    animation-delay: 600ms;
  }
  .nav__items li:nth-child(5) {
    animation-delay: 800ms;
  }

  /*    nav dropdown animation  */
  @keyframes animateDropdown {
    0% {
      transform: rotateX(90deg);
    }
    100% {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }

  .nav__items li a {
    border-radius: 0;
    width: 100%;
    height: 100%;
    background: var(--color-white);
    display: flex;
    align-items: center;
    padding: 0 2rem;
  }
  .post-info-4{
    margin-top: 35rem;
    margin-left: -6rem;
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 486px) and (max-width: 613px){
  .post-info-4 .post__title-4{
    font-size: 3.3rem;
    font-weight: 600;
  }

}

@media screen and (max-width: 722px){
  .footer__container{
    grid-template-columns: 1fr;
  }

  .post-info-4{
    margin-top: 65rem;

    margin-right: 1rem;
  }



  .post__title{
    font-size: 2.3rem;
    font-weight: 600;
  }

  .c-image-1, .c-image{
    opacity: 0.5;
  }

  .discover-more{
    display: flex;
    flex-direction: row;
  }

  .logo{
    width: 50rem;
  }

  .pic4{
    margin-left: 2rem;
    margin-top: 1rem;
  }
  .pic5{
    margin-left: -3rem;
  }
  .pic6{
    margin-left: -3rem;
    margin-top: 1rem;
  }

}
@media screen and (max-width: 485px){


  .post__info{
    width: auto;
  }
  .post__info > .post__title-4{
    font-size: 4rem;
    padding-left: 2rem;
  }

  .post__title{
    width: auto;
    font-size: 2rem;
    padding-left: 2rem;
  }
  .post h1{
    width: auto;
    font-size: 3rem;
    margin-left: -2rem;
    padding-left: 2rem;
    margin-right: 0.5rem;
  }



  .discover-more{
    display: none;
  }

  .c-image img{
    opacity: 0.4;
    z-index: 1;
  }


  .discover-more{
    width: 20rem;
  }

  .logo{
    width: 10rem;
  }

  .footer__container{
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 335px) and (max-width: 415px){
  .pic3, .pic4{
    margin-left: -2rem;
    margin-top: 1rem;
  }
  .pic5{
    margin-left: -5rem;
    margin-right: 1rem;
    width: auto;
    height: auto;
  }
  .pic6{
    margin-left: -5rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 335px){
  .pic3, .pic4{
    margin-left: -2rem;
    margin-top: 1rem;
    margin-right: 1rem;
  }
  .pic5{
    margin-left: -5rem;
    margin-right: 1rem;
    width: auto;
    height: auto;
  }
  .pic6{
    margin-left: -5rem;
    margin-right: 1rem;
    margin-top: 1rem;
  }
}

