@media screen and (max-width: 2821px) {
    .card{
        width: 297px;
    }
}
@media screen and (max-width: 2501px) {
    .card{
        width: 297px;
    }
}

@media screen and (max-width: 768px) {
    .container1{
        overflow: hidden;
    }
    .content{
        margin: 98px 196px;
    }
}
