@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: black;
}
.container1{
    background-color: black;
    margin-top:-100px;
}
.content{
    margin:100px 300px;
}
.content h1{
    color: white;
    font-size: 90px;
    font-family: 'Work Sans', sans-serif;
    padding-top:115px;
}
.content p{
    color: whitesmoke;
    padding: 20px 0;
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
}
.content p:hover{
    text-decoration: underline;
}
h1:hover{
    text-decoration: underline;
}
.card{
    box-shadow: 0 4px 8px 0 rgb(36, 236, 220);
    width: 22%;
    border-radius: 5px;
    background-color: rgb(252, 250, 250);
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}
.card:hover{
    box-shadow: 0 10px 20px 0 rgba(255, 0, 0, 0.945);
}
img{
    width: 297px;
    border-radius: 4px;
}
.card-body{
    margin: 15px;
    padding: 10px;
}
.card-text{
    font-family: 'Archivo Narrow', sans-serif;
    margin: 10px 0;
}
.ihtml{
 text-align: center;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
}
.card-body a{
    font-size: 29px;
    padding: 0 54px;
}
.btn{
    background-color: rgb(90, 129, 238);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover{
    background: linear-gradient(rgb(52, 233, 240),rgb(248, 76, 76));
}
footer{
    text-align: center;
}
footer p{
    background-color: grey;
    padding: 20px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
