*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



html,body{
    height: 100%;
    margin: 0;
    font-size:16px;
    font-family: "Lato" , sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.img1{
    background-image: url(mntn2.jpeg);
    min-height: 100%;

    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.img2{

    background-image: url(mntn.jpg);
    min-height: 400px;

}

.img3{

    background-image: url(mntn3.jpg);
    min-height: 400px;

}


.img1 , .img2 , .img3 {

    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


}

.text{
    position: absolute;
    top:50%;
    width: 100%;
    text-align: center;
   
    color: black;
    font-size: 27px;
    letter-spacing: 8px;

}

.textbg{
    background: #313534;
    color: #fff;
    padding: 20px;
}


.parah1{
    
    padding: 50px 80px;
    text-align: center;
    background-color: #f4f4f4 ;
    color: #666;
}