*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #454545;
    color: #fff;
}
.container{
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
}
.leftL, .rightR{
    flex-basis: 50%;
    padding: 10px;
}
iframe{
    width: 100%;
    height: 95%;
    background-color: #fff;
    border: 0;
    outline: 0;
}
label i{
    margin-right: 10px;
    margin-left: 10px;
}
label{
    display: flex;
    align-items: center;
    background-color: #000;
    height: 30px;
    flex-basis: 50%;
}

#html-code{
    flex-basis: 50%; 
    height: 11.5rem; 
    border: 1px solid grey;
}

#css-code{
    flex-basis: 50%; 
    height: 11.5rem; 
    border: 1px solid grey;
}

#js-code{
    flex-basis: 50%;
    height: 11.5rem; 
    border: 1px solid grey;
}

.hidden{
    color:white;   
}

.container button{
    display: none;
}

@media (max-width: 768px) {
    .container{
        flex-direction: column;
        padding: 0;
    }
    .leftL, .rightR{
        flex-basis: 100%;
        padding: 0;
    } 
    .hidden{
        display: none;
    }
    .container button{
        position: fixed;
        display: inline;
        z-index: 111;
        width: 2rem;
        font-size: 1.5rem;
        border-radius: 50%;
        top: 93%;
        left: 88%;
    }
}