body{
    background-image: url("https://cdn.pixabay.com/photo/2020/02/06/01/52/frame-4822807_1280.png");
}
#time{
    font-family: fantasy;
    font-size: 100px;
    color: rgb(0, 0, 0);
}
.hD{
    text-shadow: 0px 0px 5px #473c3c;
}
.bg-info {
    height: 15vh !important; 
    background-color: rgba(255, 255, 255, 0.5) !important; 
    padding: 0.5rem;
    font-family: "Abril Fatface", serif;    
    font-weight: 400;
    font-style: normal;
}
.play{
    background-color: #99bb96;
}
.stop{
    background-color: #e3f0dc;
}
.container{
    width: 75%;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 15px gray;
    border-radius: 35px;
}
.form-label{
    font-family: fantasy;
    font-size: 35px;
}
.select{
        font-family: 'Caprasimo', cursive;
        font-size: 25px; 
}
.sT{
    float: left;
    background-color: #729879;
    height: 50px;width: 100px;
    text-align: center;
    margin-left:  10px; ;
    border-radius: 5px;
    color: white;
}
.sT:hover{
    transform: scale(1.2,1.2);
    transition: 0.6s;
}
.sts{
    transition: 0.5s;
    background-color: #38523d;
    color: aliceblue;
}
input{
    text-align: center;
}

#text{
    border:black;
}

#foot{
    text-align: center;
    font-family: 'Caprasimo', cursive;
}
#foot a{
    text-decoration: underline;
    color: #000;

}