body{
    background-image: url("https://cdn.pixabay.com/photo/2020/02/06/01/52/frame-4822807_1280.png");
}
#time{
    font-family: 'Kablammo', cursive;
    font-size: 100px;
    color: rgb(0, 0, 0);
}
.hD{
    text-shadow: 0px 0px 5px #473c3c;
}

.container{
    width: 75%;
    background-image: linear-gradient(45deg,yellow,rgb(216, 8, 216));
    box-shadow: 0px 0px 15px gray;
    border-radius: 35px;
}
.form-label{
    font-family: 'Caprasimo', cursive;
    font-size: 35px;
}
.select{
        font-family: 'Caprasimo', cursive;
        font-size: 25px; 
}
.sT{
    float: left;
    background-image: linear-gradient(aqua,rgb(25, 58, 245));
    height: 50px;width: 100px;
    text-align: center;
    margin-left:  10px; ;
    border-radius: 5px;
    color: #000
}
.sT:hover{
    transform: scale(1.2,1.2);
    transition: 0.6s;
}
.sts{
    transition: 0.5s;
    box-shadow: 0px 0px 20px black;
    background-image: linear-gradient(45deg,rgb(1, 1, 65),rgb(43, 43, 238));
    color: aliceblue;
}
input{
    text-align: center;
}

#text{
    border:black;
}

#foot{
    text-align: center;
    font-family: 'Caprasimo', cursive;
}
#foot a{
    text-decoration: underline;
    color: #000;

}