@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  /* margin-top: 30px; */
  background-color: #a0e4ff;
}

.grad1{
  background-color: #4accff;
  /* height: 100vh; */
  width: 30vw;
  aspect-ratio: 1;
  position: fixed;
  border-radius: 50%;
  top: -10vh;
  left: 10vw;
  z-index: -1;
}

.grad2{
  background-color: #4accff;
  width: 30vw;
  aspect-ratio: 1;
  position: fixed;
  border-radius: 50%;
  bottom: -10vh;
  right: 10vw;
  z-index: -1;
}

.guessthenum {
  display: flex;
  height: 80vh;
  width: 55vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(230deg,white, #ffffffb3, #ffffff68, #ffffffc7);
  margin: auto;
  border-radius: 3rem;
  margin-top: 30px;
}


.heading {
  background: -webkit-linear-gradient(blue, #00ddff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 20px;
  font-size: 20px;
}

.content {
  height: 30vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: blue;
}

.submitbtn,.replaybtn {
  background: linear-gradient(180deg, #00a2ff,#4accff);
  border-radius: 7px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  margin-top: 10px; 
  height: 40px;
  width: 100px;
  border-color: #00a2ff;
  box-shadow: 0 5px 5px 0px gray;
  transition: all 0.3s;
}

.submitbtn:hover {
  background: linear-gradient(180deg, #4accff, #00a2ff);
  transform: translateY(4px);
  box-shadow: 0 1px 5px 0px gray;
}

#guess{
  text-align: center;
  height: 25px;
  width: 100px;
  margin: 15px 0 6px 0;
}
#result {
  font-size: 1.2em;
  margin-top: 20px;
}

#count {
  margin-top: 10px;
}


footer {
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;
  text-align: center;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 13px;
  letter-spacing: 1.2px;
  width: 100%;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

footer a:hover,
footer a:active,
footer a:focus {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
/* Responsive */
@media(width<584px){
  .guessthenum{
    width:320px;
  }

}
