@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: url(./assests/images.jpg)no-repeat;
  background-size: 100%;
  font-family:'Times New Roman', Times, serif;
  font-size: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.panel-container {
  background-color: white;
  box-shadow: 0 0 40px rgba(185, 20, 20, 0.676);
  border-radius: 4px;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  max-width: 700px;
  height: 400px;
  
}

.panel-container strong {
  line-height: 20px;
}

.ratings-container {
  display: flex;
  margin: 30px 0;
}

.rating {
  background-color: white;
  flex: 1;
  cursor: pointer;
  padding: 20px;
  margin: 10px 5px;
  width: 120px;
}

.rating:hover,
.rating.active {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
}

.rating img {
  width: 40px;
}

.rating small {
  font-size: 15px;
  color: #555;
  display: inline-block;
  margin: 10px 0 0;
}

.rating:hover small,
.rating.active small {
  color: #111;
}

.btn {
  color: black;
  background-color: transparent;
  border: 2px solid black;
  font-size: 20px;
  border-radius: 4px;
  padding: 12px 30px;
  font-family: inherit;
  cursor: pointer;
  animation: pulse-animation 2s infinite;

}
@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.fa-heart {
  color: red;
  font-size: 30px;
  margin-bottom: 10px;
}