
* {
  margin: 0;
  padding: 0;
}

body {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8eb5c6, #3696b6, #045273);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #399bc6, #0f617c, #043b53); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}