@import url('<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100&display=swap" rel="stylesheet">');
*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}
body{
    background: #bbc6fa;
}
.container {
    background: #fff;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0,0,0,0.15);
}
.container h2{
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}
.container h2::after{
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background-color: rgb(23,124,229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.container blockquote{
    font-size: 26px;
    min-height: 110px;
}
.container blockquote::before,.container blockquote::after{
    content: '"';
}
.container span{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}
.container span::before{
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(23,124,229);
    position: absolute;
    top: 50%;
    left: -30px;
}
.container div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.container button{
    background: rgb(23,124,229);
    color: #fff;
    border-radius: 25px;
    border: 1px solid rgb(23,124,229);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}
.container button i{
    width: 20px;
    font-size: 20px;
    margin-right: 10px;
    color:  rgb(23,124,229);
}
.container button:nth-child(2){
    background: transparent;
    color: #333333;
}