html, body, * {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  color: #ddd;
  font-family: 'poppins';
}

::-webkit-scrollbar {
  width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}
.main{
  /* margin-top: -12px; */
  background-color: rgba(30, 30, 30, 0.2);
}
.bg-img{
  position: fixed;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: url('../public/bg.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: rgba(30, 30, 30, 0.3);
  transform: scale(1.1);
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px;
  padding: 12px 18px;
  background-color: rgba(30, 30, 30, 0.3);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@keyframes pastelGlow {
  0% {
    color: #ffb3ba; /* Light Pink */
    text-shadow: 0 0 2px #ffb3ba, 0 0 10px #ffb3ba;
  }
  25% {
    color: #ffdfba; /* Light Orange */
    text-shadow: 0 0 2px #ffdfba, 0 0 10px #ffdfba;
  }
  50% {
    color: #ffffba; /* Light Yellow */
    text-shadow: 0 0 2px #ffffba, 0 0 10px #ffffba;
  }
  75% {
    color: #baffc9; /* Light Green */
    text-shadow: 0 0 2px #baffc9, 0 0 10px #baffc9;
  }
  100% {
    color: #bae1ff; /* Light Blue */
    text-shadow: 0 0 2px #bae1ff, 0 0 10px #bae1ff;
  }
}

.logo {
  color: #00e676;
  font-size: 24px;
  animation: pastelGlow 10s infinite alternate;
}

.user-panel {
  display: flex;
  width: 25vw;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
}

.user-panel img {
  width: 45px;
  height: 45px;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
}

.user-status button {
  width: auto;
  height: auto;
  border-radius: 15px;
  padding: 10px 16px;
  background-color: rgba(30, 30, 30, 0.4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
  text-align: center;
  color: #ddd;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.news-page {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(30, 30, 30, 0.3);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 20%;
  margin: 12px;
  padding: 50px 30px;
  gap: 20px;
}
.sidebar h3 {
  margin-bottom: 12px;
  font-size: 18px;
  color: #bae1ff;;
}
.sidebar select {
  width: 80%;
  margin-bottom: 16px;
  padding: 10px;
  font-size: 16px;
  background-color: rgba(30, 30, 30, 0.4);
  border: 1px solid #ddd;
  border-radius: 4px;
}
.top-headlines, .everything{
  display: flex;
  flex-direction: column;
  gap: 20px;  
}
.main-container {
  padding: 20px;
  background-color: rgba(30, 30, 30, 0.3);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 80%;
  margin: 12px;
}
.top-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 20px;
}
.top-container button {
  /* margin-right: 200px; */
  width: auto;
  height: auto;
  border-radius: 15px;
  padding: 10px 16px;
  background-color: rgba(30, 30, 30, 0.4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.55);
  color: #ddd;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.top-container input{
  width: auto;
  height: auto;
  border-radius: 15px;
  padding: 10px 16px;
  background-color: rgba(30, 30, 30, 0.4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
  color: #ddd;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin-left: 15px;
}
.news-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.news-card {
  /* max-height: 600px; */
  background-color: rgba(40, 40, 40, 0.4);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.55);
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  gap: 15px;
  transition: transform 0.3s;
  /* overflow: hidden; */
}

.news-card.card {
  width: 300px;
}

.news-card.wide {
  width: 1200px;
}

.title-date, .content-link{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.news-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
}

.news-card img {
  max-height: 60%;
  max-width: 100%;
  width: auto;      
  height: auto;
  border-radius: 8px;
  margin: 10px 0px;
  object-fit: contain;
}

.news-card h3 {
  color: #ede0f8;
}

p.date {
  color: #ddd;
  font-size: 12px;
}

.news-card a {
  color: #baffc9;
  /* text-decoration: underline; */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.login-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 90%;
  text-align: center;
  margin-top: -250px;
}

.title {
  color: #333333;
  margin-bottom: 20px;
}

.spacer {
  height: 20px;
}