*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg,#010758,#490d61);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container h1{
    font-size: 40px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
}
.container h1 span{
    color: #ff2963;
}
textarea{
    width: 600px;
    height: 300px;
    background:  #403d84;
    color: #fff;
    font-size: 15px;
    padding: 20px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    resize: none;;
    margin-bottom: 30px;
}
textarea::placeholder{
    font-size: 16px;
    color: #ddd;
}
.row{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}
button{
    background-color: #ff2963;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}
button img{
    width: 16px;
    margin-right: 10px;
}
select{
    flex: 1;
    color: #fff;
    height: 50px;
    background: #403d84;
    padding: 0 20px;
    outline: 0;
    border: 0;
    appearance: none;
    border-radius: 35px;
    background-image: url(images/dropdown.png);
    background-repeat: no-repeat;;
    background-size: 15px;
    background-position-x: calc(100% - 20px);
    background-position-y: calc(100% - 20px);
}