*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #454545;
    color: #fff;
}
.container{
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
}
.left, .right{
    flex-basis: 50%;
    padding: 10px;
}
textarea{
    width: 100%;
    height: 28%;
    background-color: #1f1f1f;
    color: #ffffff;
    padding: 10px 20px;
    border: 0;
    padding: 0;
    font-size: 18px;
}
iframe{
    width: 100%;
    height: 95%;
    background-color: #fff;
    border: 0;
    outline: 0;
}
label i{
    margin-right: 10px;
    margin-left: 10px;
}
label{
    display: flex;
    align-items: center;
    background-color: #000;
    height: 30px;
}