*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: #3c5077;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    padding: 10px 60px;
    border: 0;
    background-color: #fff;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 600;
    border-radius: 30px;
}
.pop-up{
    width: 400px;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-pop{
    top: 50%;
    visibility: visible;
    transform: translate(-50%,-50%)scale(1);
}
.pop-up img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.pop-up h2{
    font-size: 38px;
    font-weight: 600;
    margin: 30px 0 10px;
}
.pop-up button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: #6fd649;
    color: #fff;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}