* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: url('background.jpg') center;
  }
  
  .navbar-brand {
    background-color: #619898;
    border-radius: 10px;
    margin: 2% 2%;
    padding: 2% 4%;
    cursor: pointer;
    font-size: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2% 4% -0.8%, rgba(0, 0, 0, 0.3) 0px 1.2% 2.4% -1.2%, rgba(10, 37, 64, 0.35) 0px -0.2% 0.6% 0px inset;
  }
  
  .container-fluid {
    border-radius: 15px;
    margin: 2% 0;
  }
  
  .containerpy-3 {
    background-color: #447a7a;
    margin: 2% 3%;
    padding: 2% 8%;
  }
  
  .my-4 {
    text-align: center;
    margin: 0 2%;
    color: black;
    font-size: 2.5rem;
  }
  
  .fs-4 {
    font-size: 1.5rem;
  }
  
  .card {
    margin: 2% 0;
    transition: transform 0.5s ease;
  }
  
  .card:hover {
    #rnd,#rnd1,#rnd2{
        background-color: rgb(179, 174, 174);
    }
    transform: scale(1.1);
  }
  #rounded-5,#rounded-4,#rounded-3{
    height: 256px;
  }
  .wth {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg, #189286 0%, #0f1e4e 29%, #01072c 67%, #447c7e 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 2.5rem;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  
  @media (max-width: 768px) {
    .navbar-brand {
      font-size: 1.5rem;
    }
  
    .container-fluid {
      margin: 2% 0;
    }
  
    .containerpy-3 {
      margin: 2% 2%;
      padding: 2% 4%;
    }
  
    .my-4 {
      font-size: 2rem;
    }
  
    .fs-4 {
      font-size: 1.25rem;
    }
  
    .wth {
      font-size: 2rem;
    }
  }
  