body {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  background: linear-gradient(to bottom, #0d0021, #1c0000);
  color: #fffffff6;
  height: 100vh;
  overflow: hidden;
}
/* Hide Instruction */
.hidden {
  display: none;
}

/* Styling for the popup */
#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(243, 236, 236, 0.61);
  background: linear-gradient(to right, #333700df, #00352ad8);
  line-height: 1.5;
  letter-spacing: 2px;
}

#popup span {
  color: #65c808;
  font-size: 1.4em;
}

#start-game {
  background: linear-gradient(to right, #884bdd, #f03a3a);
  font-family: "Press Start 2P", cursive;
  color: #eef0ff;
  box-shadow: 0 0 15px rgba(239, 17, 198, 0.742);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

#level-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.2rem;
  margin: 2%;
}

.label-highscore {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.highscore {
  font-size: 1.5rem;
  color: rgb(142, 251, 255);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .row {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 20px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background: linear-gradient(red, darkred);
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
