*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{

    margin: 2px;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header div{
    height: 100px;
    width: 100px;
}

header div img{
    height: 100%;
    width: 100%;
}

main{

    margin: 5px;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center; 
}
footer{

    margin: 5px;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items{
    margin: 5px;
    height: 96%;
    width: 28%;
    border: 2px solid rgb(221, 221, 221);
    box-shadow: 0 0 2px rgb(228, 224, 224);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.items h3{
    margin: 1rem;
    margin-bottom: 1;
    width: 90%;
    font-size: xx-large;
}
.items label{
    margin: 0.9rem;
    margin-bottom: 0;
    width: 90%;
    font-weight: 500;
}

.items div input{
    margin: 1rem;
    height: 70%;
    width: 90%;

}
.items div button{
    margin: 1rem;
    height: 70%;
    width: 90%;
    border: 8px;
    background-color: #ffd814;
    color: black;
    border: none;
    cursor: pointer;
}

.items p{
    margin: 1rem;
    height: 5%;
    width: 90%;
    font-size: 14px;
}
.items p a{
    color: #2c92a0;
}

.items p a:hover{
    text-decoration: underline;
}

.Dropdown h5{
    color: #2c92a0;
    margin: 1rem;
    cursor: pointer;
    margin-bottom: 0;
}
.Dropdown a{
    display: block;
    color: #2c92a0;
    cursor: pointer;
    margin: 0 1rem;
    font-size: small;
}

.Dropdown:hover{
    text-decoration: underline;
}

.Dropdown .child{
    text-decoration: none;
    display: none;
}


.Dropdown:hover .child{
    display: block;
}

.info h4{
    margin: 1rem;
    margin-top: 0;
    height: 10%;
}

.info a{
    margin: 1rem;
    margin-top: 0;
    height: 10%;
    font-size: small;
    text-decoration: none;
    color: #2c92a0;
}

.info a:hover{
    text-decoration: underline;
}
#hr{
    margin: 1rem;
    width: 90%;
}
.center{
    height: 8vh;
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center h5{
    min-width: 350px;
    text-align: center;
    position: relative;
    margin: auto;
    color: rgb(233, 227, 227);
}
.center h5::after,
.center h5::before{
    content: "";
    height: 2px;
    width: 120px;
    display: block;
    background-color: rgb(233, 227, 227);
    position: absolute;
    top: 50%;
}
.center h5::after{
   right: 0;
}
.center h5::before{
    left: 0;
}
.btn{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn button{
    height: 90%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(196, 194, 194);
    background-color: white;
    cursor: pointer;
}

.links{
    height: 100%;
    width: 22%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.links a{
    font-size: small;
    font-weight: 200;
}

@media  screen and  (max-width: 768px){
    .items{
        width: 60%;
    }
    .center{
        width: 60%;
    }
    .links{
        width: 60%;
    }
    
}