#Anutrickz_translateBTN
  svg(aria-hidden="true", preserveAspectRatio="xMidYMid meet", role="img", viewBox="0 0 36 36")
    path.clr-i-outline.clr-i-outline-path-1(d="M30 3H14v5h2V5h14c.6 0 1 .4 1 1v11c0 .6-.4 1-1 1H17v7h-5.3L8 27.9V25H5c-.6 0-1-.4-1-1V13c0-.6.4-1 1-1h13v-2H5c-1.7 0-3 1.3-3 3v11c0 1.7 1.3 3 3 3h1v5.1l6.3-5.1H19v-7h11c1.7 0 3-1.3 3-3V6c0-1.7-1.3-3-3-3z", fill="currentColor")
    path.clr-i-outline.clr-i-outline-path-2(d="M6.2 22.9h2.4l.6-1.6h3.1l.6 1.6h2.4L11.9 14H9.5l-3.3 8.9zm4.5-6.4l1 3.1h-2l1-3.1z", fill="currentColor")
    path.clr-i-outline.clr-i-outline-path-3(d="M20 17c1.1 0 2.6-.3 4-1c1.4.7 3 1 4 1v-2s-1 0-2.1-.4c1.2-1.2 2.1-3 2.1-5.6V8h-3V6h-2v2h-3v2h5.9c-.2 1.8-1 2.9-1.9 3.6c-.6-.5-1.2-1.2-1.6-2.1h-2.1c.4 1.3 1 2.3 1.8 3.1c-1 .4-1.9.4-2.1.4v2z", fill="currentColor")
  .hide#ATLang_list
    ul
      li.language-list(data-google-lang="en") English
      li.language-list(data-google-lang="hi") हिन्दी
      li.language-list(data-google-lang="mr") मराठी
      li.language-list(data-google-lang="kn") ಕನ್ನಡ
script(src="http://code.jquery.com/jquery-1.11.3.min.js")
script(src="../static/translate.js")
link(rel="stylesheet", href="../static/translate.css")


link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap")
title Kolhapur District Crops
link(rel="stylesheet", type="text/css", href="./static/info2.css")
#line
header.d-flex.align-items-center#header
  .d-flex.align-items-center
    h1.logo-me-auto 
      a(href="")|Related Information
    nav.navbar
      ul
        li
          a(href="/home")
            span 🏘
            |  Home
        li
          a(href="/calculator")
            span 🖩
            |  Fertilizer Calci
        li
          a.active(href="/information")
            span ℹ️ 
            | Information
        li
          a(href="/news")
            span 🔍
            |  Trending
        li
          a(href="/map")
            span 🗺
            |  Maps
#line
section.soil-testing
  h1(style="text-shadow: 2px 2px 0px black;") Testing Soil for Proper Fertilization
  .row
    .col
      h3 Step 1: Collect Soil Sample
      p Use a clean shovel or trowel to collect soil samples from several areas in your garden or field. Take samples from both the surface and at least 6 inches deep. Mix the samples together in a clean bucket.
    .col
      img(src="images/soil-testing.jpg", alt="Collecting Soil Sample")
  .row
    .col
      img(src="images/send-soil.jpg", alt="Testing Soil")
    .col
      h3 Step 2: Send Soil Sample for Testing
      p Send the soil sample to a reputable laboratory for testing. Be sure to label the sample with your name, address, and the area of your field it was taken from.
  .row
    .col
      h3 Step 3: Analyze Soil Test Results
      p Once you receive the soil test results, analyze them carefully. Look for the pH level, nutrient content, and any other relevant information that can help you choose the right fertilizer for your crop.
    .col
      img(src="images/soil-result2.png", alt="Analyzing Soil Test Results")
section#soil-testing
  h2 Testing Soil for Proper Fertilization
  p Soil testing is an important step for any farmer or gardener who wants to grow healthy crops. A soil test can provide valuable information about the nutrients present in the soil, as well as its pH level and texture.
  h3 How to Test Your Soil
  p Testing your soil is easy and can be done in a few simple steps:
  ol
    li Collect a soil sample from your garden or farm using a soil testing kit or by sending a sample to a lab.
    li Follow the instructions provided with the testing kit or by the lab for collecting and preparing the sample.
    li Send the sample to a lab or perform the test yourself using a soil testing kit.
    li Once you have your test results, use them to determine the nutrients your soil needs.
    li Choose the appropriate fertilizer for your soil based on the test results.
    li Apply the fertilizer as directed to ensure proper nutrient uptake by your crops.
  h3 Why Soil Testing is Important
  p Soil testing is important for several reasons:
  ul
    li It helps you determine the nutrients your soil needs, so you can choose the right fertilizer for your crops.
    li It can help you avoid over-fertilizing your crops, which can lead to nutrient runoff and environmental pollution.
    li It can help you avoid under-fertilizing your crops, which can lead to poor crop growth and yield.
    li It provides information about your soil's pH level and texture, which can affect nutrient availability and uptake by your crops.
    li It can help you identify potential soil problems, such as high salinity or contamination, which can affect crop growth and yield.
  h3 When to Test Your Soil
  p The best time to test your soil depends on several factors, such as the crops you plan to grow, the soil type and climate in your area, and your fertilization practices. As a general rule, you should test your soil at least once every three years, and more frequently if you notice any signs of nutrient deficiency or excess in your crops.
  h3 Conclusion
  p Testing your soil is an essential step for any farmer or gardener who wants to grow healthy crops. By following the simple steps outlined above, you can determine the nutrients your soil needs and choose the right fertilizer for your crops, which can lead to better growth and yield, as well as a healthier environment.
.container
  h1(style="text-shadow: 2px 2px 0px black;" )#another Kolhapur District Crops
  br
  br
  label(for="taluka-select") Select a Taluka:
  select#taluka-select
    option(value) -- Select Taluka --
    option(value="ajra") Ajra
    option(value="gadhinglaj") Gadhinglaj
    option(value="hatkanangle") Hatkanangle
    option(value="karvir") Karveer
    option(value="panhala") Panhala
    option(value="radhanagari") Radhanagari
    option(value="shahuwadi") Shahuwadi
    option(value="shiroli") Shiroli
    option(value="gaganbavda") Gaganbavda
    option(value="chandgad") Chandgad
    option(value="kagal") Kagal
    option(value="bhudargad") Bhudargad
  h2 Major field crops cultivated
  .crop-info
    img#crop-image(src, alt="Crop Image")
    #crop-details
      h2#crop-name
      p#crop-description
      p#crop-scheme
      p#crop-price
script(type="text/javascript", src="../static/crops-info.js")