body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    width: 100%;
    position: relative;
}

body::before {
    content: "";
    background-image: url("./background.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#idCard {
    background-color: #0166B8;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    border: none;
}

.profile-container {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: -70px;
}

#profileImg {
    width: 100%;
    height: 100%;
}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
}

#qrCode {
    margin-top: 10px;
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.title h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    display: flex;
    height: 30vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.card_container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    width: 100%; /* Make labels take full width */
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Make inputs take full width */
}
.inputdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
}

button {
    padding: 12px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: #358038;
}

.formContainer {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#updateForm {
    margin: 50px;
}
