/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #FF7B19;
    --second-color: #E53F71;
    --text-color: #444;
    --gradient: linear-gradient(#E53F71, #653780);
}


/* CUSTOM SCROLL BAR */

html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
}

section {
    padding: 50px 100px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #900C3F;
    padding: 15px 100px;

}

.logo img {
    width: 40px;

}
.logo:hover{
    background: #fff;
    transition:0.5s;
}

.navbar {
    display: flex;
}

.navbar li {
    position: relative;
}

.navbar a {
    font-size: 1rem;
    padding: 10px 20px;
    color:#fff;
    font-weight: 500;
}

.navbar a::after {
    content: "";
    width: 0;
    height: 3px;
    background: white;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}

.navbar a:hover::after {
    width: 100%;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.header-btn a {
    padding: 10px 20px;
    font-weight: 500;
    color: #fff;

}

.header-btn .sign-in {
    background: #474fa0;
    color: #FFF;
    border-radius: 0.5rem;

}

.header-btn .sign-in:hover {
    background: var(--main-color);
    transition: 0.5s;
}

.home {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: url("libimg2.jpg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.text h1 {
    font-size: 3.5rem;
    letter-spacing: 2px;


}

.text span {
    color: yellow;

}
.text h1{
    color: yellow;
}

.text h2 {

    margin: 0.5rem 0 1rem;
    color: white;
}

.app-stores img {
    width: 100px;
    margin-right: 1rem;
    cursor: pointer;
}


.heading {
    text-align: center;


}

.heading span {
    font-weight: 500;
    text-transform: uppercase;


}

.heading h1 {
    font-size: 2rem;
}


.services{
    background: #E4BFB3;
}


.services-container {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));

    gap: 1 rem;
}

.services-container .box {
    padding: 10px;
    border-radius: 1 rem;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
}

.services-container .box .box-img {
    width: 100%;
    height: 200px;
}

.services-container .box .box-img img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}

.services-container .box p {
    padding: 0 10px;
    border: 1px solid var(--text-color);
    width: 58px;
    border-radius: 0.5rem;
    margin: 1rem 0 1rem;


}

.services-container .box h3 {
    font-weight: 500;
}

.services-container .box a {
    font-size: 0.8rem;
    font-weight: 500;

}

.services-container .box h2 {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);
    margin: 0.2rem 0 0.5rem;
}

.services-container .box h2 span {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-color);
}

.services-container .box .btn {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #474fa0;
    padding: 10px;
    border-radius: 0.5rem;
}

.services-container .box .btn:hover {
    background: var(--main-color);
    transition: 0.5s;
}


























