@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');
/* Universal selector to reset margin and padding, and set the default font */
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Body styling */
body {
    background-color: black;
}

/* Main section with background image */
.main {
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/51c1d7f7-3179-4a55-93d9-704722898999/be90e543-c951-40d0-9ef5-e067f3e33d16/IN-en-20240610-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}

/* Overlay box for darkening the background image */
.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

/* Navigation bar styling */
nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
}

/* Logo in navigation */
nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

/* Navigation button styling */
nav button {
    position: relative;
    z-index: 10;
}

/* Hero section styling */
.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

/* Hero section title */
.hero> :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

/* Hero section subtitle */
.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

/* Hero section additional text */
.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

/* Separation bar between sections */
.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

/* Button styling */
.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}

/* Red button styling */
.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

/* Smaller red button styling */
.btn-red-sm {
    background-color: red;
    color: white;
}

/* Hero section buttons container */
.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

/* Input field styling in main section */
.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

/* First section styling */
.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

/* Secondary image container */
.secImg {
    position: relative;
}

/* Secondary image styling */
.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

/* Secondary video styling */
.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

/* Text container in the first section */
section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

/* Title in the first section */
section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

/* Subtitle in the first section */
section.first>div :nth-child(2) {
    font-size: 24px;
}

/* FAQ section styling */

.bold1{
    font-size: 46px;
    font-weight: 700;
    position: relative;
    z-index:3;
    color:white;
}



/* Footer styling */
footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

/* Questions section in footer */
footer .questions {
    padding: 34px 0;
}

/* Footer grid styling */
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

/* Responsive design for screens smaller than 1300px */
@media screen and (max-width: 1300px) {
    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item {
        align-items: center;
    }
}

/* Further adjustments for footer on smaller screens */
@media screen and (max-width: 1300px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}

/* Footer links styling */
.footer a {
    font-size: 14px;
    color: white;
}

/* Footer items container */
.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}
