*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(135deg,#4203a9,#90bafc);  */
    background: url(https://source.unsplash.com/purple-gradient-bexwsdM5BCw)  center / cover no-repeat fixed;
    height: 100vh;
    color: #fff;
    /* padding: 10px; */
}
.calculator{
    width: 100%;
    max-width: 90%; 
    max-height: 85%;
    display: flex; 
    flex-direction: column; 
    position: absolute;
    top: 15%; 
    left: 10%;
}
.calculator h1{
    font-size: 60px;
}
.calculator h1 span{
    color: #ffff76;
}
.input-box{
    margin: 5% 0; 
    width: 70%;
    padding: 3%;
    border-radius: 30px; 
    /* background: rgba(255,255,255,0.3);  */
    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0)); 
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37); 
    color: black; 
    font-weight: 500;
    display: flex;
    flex-direction: column;
}
/* .input-box input{
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
} */
/* .input-box button{
    background-color: #ffff76;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
} */

.input-fields{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    font-size: 20px; 
    
} 

.input-btns {
    display: flex;
    align-items: center; 
    justify-content: center; 
    
}

.input-box input,
.input-box select {
    margin:2%;
    padding: 15px 30px; 
    height: auto;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 15px;
    position: relative;
    /* background-color: #f0f08b;  */
    background: rgba(255, 255, 255, 0.28);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    cursor: pointer; 
    font-weight: 500;
    line-height: normal;
} 

.input-box input::-webkit-calender-picker-indicator{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}
#reset-button{
    padding: 15px 30px; 
    font-size: 18px; 
    margin:2%; 
    border-radius: 40px;
    /* background-color: #18170a; */
    box-shadow: 5px 5px 10px rgb(26, 27, 27);
    background: rgba(255, 255, 255, 0.28);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px); 
    font-weight: 500;
    cursor: pointer;
}

.input-results{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 28px; 
    font-family:'Poppins', monospace; 
    font-weight: 700;
}