* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: url(bgimg.png) center / cover no-repeat fixed;
    color: ivory;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.calculator {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    background: #ffffff00;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 32px #151515;
}

.calculator h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.calculator h1 span {
    background: -webkit-linear-gradient(#b6021a,#01311f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-fields div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.input-fields p {
    margin: 0;
    font-size: 1rem;
}

.input-box input,
.input-box select {
    width: 100%;
    padding: 15px;
    border: 0;
    outline: 0;
    font-size: 1rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.28);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    cursor: pointer;
    font-weight: 500;
}

.input-btns {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.input-btns button {
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.28);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    box-shadow: 0px 7px 7px rgb(26, 27, 27);
    font-weight: 500;
    cursor: pointer;
    border: 0;
    outline: 0;
    transition: all 0.3s;
}

.input-btns button:hover{
    transform: translateY(4px);
    box-shadow: 0px 3px 7px rgb(26, 27, 27);
}

.input-results {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Poppins', monospace;
    font-weight: 700;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .calculator {
        padding: 40px;
    }

    .calculator h1 {
        font-size: 3rem;
    }

    .input-fields {
        flex-direction: row;
        gap: 20px;
    }

    .input-fields div {
        width: 50%;
    }

    .input-box input,
    .input-box select {
        font-size: 1.1rem;
    }

    .input-btns button {
        font-size: 1.1rem;
    }

    .input-results {
        font-size: 2rem;
    }
}

@media (min-width: 1024px) {
    .calculator h1 {
        font-size: 3.5rem;
    }

    .input-box input,
    .input-box select {
        font-size: 1.2rem;
    }

    .input-btns button {
        font-size: 1.2rem;
    }

    .input-results {
        font-size: 2.5rem;
    }
}
