@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: 1200px;
    color: white;
    background: linear-gradient(135deg, #cc78f3, #3ba9e9);
    padding-top: 4%;
    padding-left: 10%;
}

.container h1{
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
}

.container h1 img{
    width: 60px;
}

.container button img{
    width: 25px;
    margin-right: 8px;
}
.container button{
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #5d0597, rgb(6, 130, 161));
    color: white;
    font-size: 16px;
    outline: 0;
    border: 0;
    border-radius: 40px;
    padding: 15px 25px;
    margin: 30px 0 20px;
    cursor: pointer; 
}

.notes-container{
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    gap: 0px 100px;
    flex-basis: 1 1;
}

.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background-color: white;
    color: black;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 5px;
}

.input-box img{
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}


/* responsiveness */
@media screen and (width < 620px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        padding: 4%;
    }
    .input-box{
        width: 400px;
    }
    .notes-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}