body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  cursor: none;
  background-color: black;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
