@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
        background: linear-gradient(135deg,#a90377,#90bafc);
        font-family: 'Work Sans', sans-serif;
}

#root {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        font-family: 'Poppins',sans-serif;
}
      
#root h2{
        font-size: 20px;
        font-weight: 600;
        color: #ffffff;
}

#meme {
        height: 470px;
        width: 500px;
}
      
button {
        font-size: 20px;
        font-weight: 600;
        padding: 10px 8px;
        margin-top: 15px;
        color: #fffbfb;
        cursor: pointer;
        border-radius: 20px;
        background: linear-gradient(45deg, #06060f, #349b9b);
        border: none;
        box-shadow: 10px 10px 5px rgb(55, 57, 58);
      }
@media(width<500px){
        #meme{
                width:340px;
                height: 340px;
        }
        #root{
                justify-content: flex-start;
                margin-top: 40px;
        }
}
