body{
    background-image: url(images/desktop-1440x900.png);
    margin: auto auto;
}
#loader {
    border: 16px solid wheat;
    border-top: 16px solid black;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin:auto auto;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center center;
    margin-top: 5vh;
}
.buttons{
    display: grid;
    place-items: center center;
    grid-template-rows: 1fr 1fr;
}
#owner_name{
    margin:3vh auto;
    height: 6vh;
    border-radius: 5px;
    color:white;
    background-color: black;
    text-align: center;
    border:1px solid white;
}
#repo_name{
    margin: 3vh auto;
    height: 6vh;
    border-radius: 5px;
    color:white;
    background-color: black;
    text-align: center;
    border:1px solid white;
}
#per_page{
    height: 6vh;
    margin:3vh auto;
    border-radius: 5px;
    color:white;
    background-color: black;
    text-align: center;
    border:1px solid white;
}
label{
    margin:3vh auto;
    color:white;
    text-align: center;
    font-size:20px;
}
.owner{
    display: flex;
    width:80%;
    justify-content: space-evenly;
}
.repo{
    display: flex;
    width:80%;
    justify-content: space-evenly;
}
.page{
    display: flex;
    width:80%;
    justify-content: space-evenly;
}
#fetch{
    margin:3vh 3vw;
    background-color: whitesmoke;
    color:black;
    font-weight: 500;
    font-size:1.5rem;
    border:2px black solid;
    width:150px;

}
#fetch:hover{
    background-color: rgb(120, 165, 218);
}
#change{
    background-color: black;
    color:white;
    border:1px solid white;
}
#drop{
    margin:3vh 3vw;
}
.dropdown-menu{
    background-color: black;
}
.dropdown-item{
    color:white;
}
.display{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: gray;
    color:antiquewhite;
    margin-top:10vh;
    margin-left:10vw;
    margin-right: 10vw;
    padding-top: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    z-index: 199;
}
.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.image a{
    color:antiquewhite;
}
.about{
    display: flex;
    flex-direction: column;
    font-size: 2.5vw;
}
#photo{
    height:fit-content;
    width:20vw;
    margin-left: 25%;
}
h1{
    width: fit-content;
    text-align: center;
    margin:auto auto;
    font-size: 4vw;
    color:azure;
}
p{
    text-align: center;
    margin:auto auto;
}
strong{
    color:rgb(224, 224, 99);
}