@font-face {
    font-family: FontRegular;
    src: url(Assets/Fonts/sf-pro-display_regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: FontRegular;
}
html , body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    min-height: 100vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    width: 100%;
    height: 5vh;
    background-color: #f2f2f2;
    z-index: 50;
}

nav a{
    text-decoration: none;
    color: #333;
}

nav i{
    font-size: 1.1vw;
}

.part-1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
    background-image: url(Assets/hero_iphone15pro__i70z9oz3hj2i_largetall.jpg);
    background-position: center;
}

.text-part-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    gap: 1vh;
    top: 10%;
    color: #fff;
}

.text-part-1 h1{
    font-size: 3vw;
}

.text-part-1 h2{
    font-size: 3vw;
    color: #ffffff;
}

.text-part-1 p{
    font-size: 1.6vw;
    color: black;
}
.text-part-1 p1{
    font-size: 1.4vw;
    color: #ffffff;
}





.link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.link a{
    text-decoration: none;
    color: rgb(26, 141, 242);
    font-size: 1.2vw;
}

.link a:hover{
    border-bottom: 1px solid rgb(26, 141, 242);
}

.part-2{
    background-image: url(Assets/hero_iphone15_announce__uuemlcwczn6u_largetall.jpg);
}

.text-part-2{
    color: #333;
}

.part-3{
    background-image: url(Assets/image3.jpg);
}

.part-4{
    display: flex;
    width: 100%;
   
}

.part-4-1{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-image: url(Assets/img/holiday_2023_promo__dirvdl6a3r2a_large.jpg);
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    
}

.part-4-2{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-image: url(Assets/img/promo_mbp__ek7p477bkp6q_large.jpg);
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.part-4-3{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-image: url(Assets/img/promo_apple_watch_ultra2_order__dyxqj5ia98om_large.jpg);
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.part-4-4{
    
    height: 100vh;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-image: url(Assets/img/promo_ipad__fioegapg12qi_large.jpg);
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 1px;
    margin-bottom: 1px;

}

.part-4-5{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-image: url(Assets/img/promo_airpods_pro_order__d8xv36p4uwae_large.jpg);
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.part-4-6{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-image: url(Assets/img/iphone_tradein_promo__d5au3rkw5kuq_large.jpg);
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.part-4 .text-part-1{
    color: #333;
}

.part-4 .text-part-1 p{
    font-size: 1vw;
}

.slider-part{
    padding: 2vh 0vw;
    width: 100%;
    height: 70vh;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.swiper-slide {
    width:  90%;
    background-position: center;
    background-size: cover;
}

.swiper-1{
    background-image: url(Assets/1.jpg);
}
.swiper-2{
    background-image: url(Assets/2.jpg);
}
.swiper-3{
    background-image: url(Assets/3.jpg);
}
.swiper-4{
    background-image: url(Assets/4.jpg);
}
.swiper-5{
    background-image: url(Assets/5.jpg);
}
.swiper-6{
    background-image: url(Assets/6.jpg);
}

.ri-menu-3-line{
    display: none;
}

.respo-nav{
    position: absolute;
    top: -120%;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: none;
    z-index: 99;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}

.submenu{
    top: -100%;
    position: absolute;
    width: 100%;
    height: 95vh;
    z-index: 999;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
    pointer-events: none;
    
}

.sub-top{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 100%;
    height: 50vh;
    background-color: #f2f2f2;
    padding: 5vw 20vw;
}

.sub-top a{
    text-decoration: none;
    font-size: 1vw;
    color: #333;

}

.sub-btm{
    width: 100%;
    height: 45vh;
    background: rgba(0, 0, 0, 0.085);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}



@media (max-width:500px) {
    .submenu{
        display: none;
    }
    #partO{
        background-image: url(Assets/resp1.jpg);
    }
    .slider-part{
        height: 50vh;
    }
    nav{
        gap: 5vw;
    }
    nav a{
        display: none;
    }
    nav i{
        font-size: 5vw;
    }
    .ri-apple-fill{
        margin-right: 60vw;
    }
    .ri-menu-3-line{
        display: initial;
    }
    .respo-nav{
        padding: 10vw 10vw;
        display: flex;
        flex-direction: column;
        gap: 3vh;
    }
    .respo-nav a{
        font-size: 6vw;
        text-decoration: none;
        color: #333;
    }
    .respo-nav i{
        position: absolute;
        top: 1%;
        right: 3%;
        font-size: 7vw;
    }
    .text-part-1{
        gap: 2vh;
    }
    .text-part-1 h1{
        font-size: 10vw;
    }
    .text-part-1 p{
        font-size: 5vw;
    }
    .link a{
         font-size: 5.2vw;
    }
    .part-2{
        background-image: url(Assets/resp2.jpg);
    }
    .part-4{
        flex-direction: column;
    }
    .part-4-1{
        width: 100%;
    }
    .part-4-2{
        width: 100%;
    }
    .part-4 .text-part-1 p{
        font-size: 4vw;
    }
}

.bottom{
    font-size: 1vw;
    text-align: justify;
    line-height: 1.8;
    background-color: #e0e0e0;
    height: 500px;
    width: 100% ;
}

.bottom p{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1em;
    margin-bottom: 1em;
    color: rgb(129, 129, 129);
    
}
