body {
        background: linear-gradient(135deg,#a90377,#90bafc);
}

#root {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        font-family: 'Poppins',sans-serif;
}
      
#root h2{
        font-size: 20px;
        font-weight: 600;
}

#meme {
        height: 500px;
}
      
button {
        font-size: 30px;
        font-weight: 600;
        padding: 10px 8px;
        margin-top: 20px;
        color: black;
        cursor: pointer;
        border-radius: 5px;
        background: linear-gradient(45deg, #2e3192, #1bffff);
}