* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  border: 1px solid #fff;
  border-radius: 10px;
  width: 65%;
  height: 80%;
  display: flex;
  overflow: hidden;
}
.sidebar {
  flex: 1;
  position: relative;
}
.sidebar .btn  {
  background-color: #04AA6D !important;
  border: none !important;
  color: white !important ;
  padding: 15px 32px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 16px !important;
  margin: 4px 2px !important;
  cursor: pointer !important;
}
.messages {
  height: calc(100% - 96px);
}
.chat {
  flex: 2;
}
.messageContent {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.messageContent p {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px 0px 10px 10px;
  max-width: max-content;
}
.owner {
  flex-direction: row-reverse;
  align-items: flex-end;
}
.sender {
  flex-direction: row;
  align-items: flex-start;
}
