*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 90vh;
}
nav{
    width: 100%;
    height: 80px;
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    position: fixed;
    top: 0px;
     background:  rgb(93, 242, 135);
}
.logo{
    font-family: sans-serif;
    font-size: 2.3em;
}
.logo span{
    color:rgb(248, 59, 59);
}
.menu a{
    text-decoration: none;
    padding: 10px 20px;
    font-family: sans-serif;
    font-size: 20px;
    color: black;
}
.menu a:first-child{
    color: #e74c3c;
 }
 .menu a:hover{
     color:#e74c3c;
 }
 .menu a span{
    font-size: 30px;
    color: black;
}
 .icon i{
    font-size: 20px;
}
.icon i:hover{
   color: #e74c3c;
}
.icon a{
   text-decoration: none;
   background: #e74c3c;
   color: white;
   padding: 10px 20px;
   margin-left: 30px;
   border-radius: 5px;
}
.icon a:hover{
  background-color: aqua;
  transition: 0.5s ease-in-out;
  box-shadow: 0 5px 5px aqua;
  color: rgb(233, 50, 50);
}
.banner{
    transition: 2s;
}
.btn2{
    right: 200px;
    top: 350px;
    position: absolute;
    width: 40px;
    background: rgb(51, 158, 194);
    border: 1px solid rgb(51, 158, 194);
    border-radius: 5px;
}
.btn1{
    top: 350px;
    position: absolute;
    left: 150px;
   width: 40px;
   background:rgb(51, 158, 194);
   border: 1px solid rgb(51, 158, 194);
   border-radius: 5px;
}

    

.texto{
   background-color: #fff;
   margin-top: 10px;
}
.texto p{
    font-size: 15px;
    color: #000;
    text-align: center;
    font-family: 'Baloo Bhai',cursive;
    padding: 20px;
}
.info1{
    font-size: 15px;
    color: #000;
    text-align: center;
    font-family: 'Baloo Bhai',cursive;
    padding: 20px;
}
.texto h2 span{
     color: rgb(10, 90, 10);
     text-align: center;
}
.texto h2{
    color: #000;
    text-align: center;
    font-size: 20px;
    top: 20px;
}
.map{
    width: 350px;
    height: 210px;
    right: 20px;
    position: absolute;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
}
.map:hover{
    transform: scale(1.1);
}
.info{
    display: flex;
    margin-top: 30px;
    
}
.info img{
    width: 300px;
    height: 200px;
   display: flex;
   transition: 0.5s;
}
#m{
   transition: 0.5s ease-in-out;
    border-radius: 10px;
}
#m:hover{
    transform: scale(1.1);
}
#m1{
    transition: 0.5s ease-in-out;
    border-radius: 10px;
}
#m1:hover{
    transform: scale(1.1);
}
#m2{
    transition: 0.5s ease-in-out;
    border-radius: 10px;
}
#m2:hover{
    transform: scale(1.1);
}
.info p{
    width: 40%;
    font-family: 'Baloo Bhai',cursive;
}
 
.sliding{
    color: rgb(243, 50, 50);
    font-size: 25px;
    font-family: 'Baloo Bhai',cursive;
    box-shadow: 0 10px 10px  rgb(128, 248, 174) ;
    background: radial-gradient(circle at 10% 20%, rgb(128, 248, 174) 0%, rgb(223, 244, 148) 90%);
}
.section{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    margin: auto;
    flex-direction: row-reverse;
    font-family: 'Baloo Bhai',cursive;
    background: radial-gradient(circle at 10% 20%, rgb(128, 248, 174) 0%, rgb(223, 244, 148) 90%);
    /* background-image: url('f10.jpg'); */
  }
  .section:hover{
    transition: 1.0s ease-out;
  }
  .sec-left{
   flex-direction: row-reverse;
    
  }
  .sec-left{
    flex-direction: row-reverse;
    font-family: 'Baloo Bhai',cursive;
  }
  #m3{
    border-radius: 10px;
    transition: 0.5s ease-in-out;
  }
  #m3:hover{
    transform: scale(1.1);
  }
  #m4{
    border-radius: 10px;
    transition: 0.5s ease-in-out;
  }
  #m4:hover{
    transform: scale(1.1);
  }
  footer{
   
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
    font-family: 'Baloo Bhai',cursive;
  }
  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
  }
  .footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 1rem 0 3rem 0;

}
.socials li{
    margin: 0 10px;

}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;

}
.footer-bottom{
    background: #000;
    width: 100vw;
    text-align: center;

}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
