@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

:root {
  --primary-color: #3685fb;
  --primary-color-dark: #2f73d9;
  --secondary-color: #fafcff;
  --text-dark: #0d213f;
  --text-light: #767268;
  --extra-light: #ffffff;
  --bgcolor: #f0f5ff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  /* max-width: var(--max-width); */
  margin: auto;
  padding: 5rem;
  background-color: var(--bgcolor);
}
.section__container1 {
  /* max-width: var(--max-width); */
  margin: auto;
  padding: 5rem;
}

.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.section__title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.section__subtitle {
  font-size: 1rem;
  color: var(--text-dark);
  max-width: calc(var(--max-width) / 2);
}

.content {
  background-color: #ffffff32;
  height: 110%;
  width: 100%;
  padding: 5%;
  border-radius: 10px;
}

.btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--extra-light);
  background-color: var(--primary-color);
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  padding: 1rem;
  position: sticky;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: #001432;
  z-index: 99;
  /* background: linear-gradient(90deg, #201658eb, #3b000feb); */
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--extra-light);
  cursor: pointer;
}

.nav__logo span {
  color: var(--primary-color);
  font-weight: 900;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link a {
  padding: 0 1rem;
  color: var(--secondary-color);
  transition: 0.3s;
  font-weight: 600;
}

.link a:hover {
  color: var(--primary-color);
}

header {
  background-color: var(--secondary-color);
}

.header__container {
  min-height: 100vh;
  background: url(https://i.ibb.co/w4Jqjdf/pexels-andrei-tanase-1271619.jpg) no-repeat top center/cover;
}

.header__image {
  position: relative;
}

/* .header__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 0.3rem solid var(--extra-light);
  border-radius: 2rem;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.header__image img:nth-child(1) {
  max-width: 350px;
  transform: translate(-75%, -50%);
}

.header__image img:nth-child(2) {
  max-width: 250px;
  transform: translate(0%, -25%);
} */

.header__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__content>div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.header__content .sub__header {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);
}

.header__content h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 800;
  color: var(--extra-light);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header__content .action__btns {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

.story {
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.video {
  position: relative;
}

.video img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 2px solid var(--secondary-color);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.video span {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.video span i {
  padding: 0.5rem;
  font-size: 1rem;
  color: red;
  background-color: var(--extra-light);
  border-radius: 100%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.story>span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
}

.destination__container{
  box-shadow: 0 -1rem 1rem 1rem var(--bgcolor);
}

.destination__nav {
  display: flex;
  gap: 1rem;
}

.destination__nav span {
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 100%;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.destination__nav span:hover {
  color: var(--extra-light);
  background-color: var(--primary-color);
}

.destination__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.destination__card {
  overflow: hidden;
  position: relative;
  isolation: isolate;
  cursor: pointer;
  transition: transform 0.3s ease;
}


.destination__card img {
  border-radius: 1rem;
  border: 3px solid var(--secondary-color);
}

.destination__card:hover {
  transform: scale(1.15);
}

.destination__card1 {
  overflow: hidden;
  position: relative;
  isolation: isolate;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.destination__card1 img {
  border-radius: 1rem;
  height: 420px;
  border: 3px solid var(--secondary-color);
}

.destination__card1:hover {
  transform: scale(1.15);
}

.destination__details {
  position: absolute;
  width: calc(100% - 2rem);
  padding: 1rem;
  bottom: -6rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: var(--extra-light);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  z-index: 1;
  transition: 0.3s;
}

.destination__card:hover .destination__details {
  bottom: 1rem;
}

.destination__card1:hover .destination__details {
  bottom: 1rem;
}


.destination__title {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.destination__subtitle {
  font-size: 1rem;
  font-weight: 600;
}

.trip {
  background-color: var(--secondary-color);
}

.trip__container :is(.section__title, .section__subtitle, .view__all) {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.trip__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 4rem 0;

}

.trip__card {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.trip__card img {
  width: 100%;
  height: 19rem;
  top: 0;
}

.trip__card:hover {
  transform: translateY(-5px);
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2);
}

.trip__details {
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
  background-color: var(--extra-light);
  cursor: pointer;
}

.rating {
  color: goldenrod;
}

.booking__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price span {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--text-dark);
}

.book__now {
  padding: 0.5rem 1.5rem;
  color: var(--primary-color);
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 5rem;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.book__now:hover {
  color: var(--extra-light);
  background-color: var(--primary-color);
}

.gallary__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.image__gallary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.gallary__col {
  display: grid;
  place-content: center;
  gap: 1rem;
}

.gallary__col img {
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  border: 3px solid var(--secondary-color);
}

.gallary__col img:hover {
  transform: scale(1.05);
}

.gallary__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gallary__content>div {
  max-width: 400px;
}

.gallary__content>img {
  width: 300px;
}

.gallary__content .section__subtitle {
  margin-bottom: 2rem;
}

/*Pricing*/

.pricing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(https://i.ibb.co/88Qnjxg/pexels-josh-hild-2422259.jpg) no-repeat top center/cover;
}

.h1 {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.p {
  text-align: center;
  margin-bottom: 4rem;
  color: var(--text-dark);
}

.pricing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .plan {
    width: 350px;
    border: 3px solid #0b0168;
    padding: 2.5rem;
    margin: 12px;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;

    h2 {
      font-size: 22px;
      margin-bottom: 12px;
    }

    .price {
      margin-bottom: 1rem;
      font-size: 30px;
    }

    ul.features {
      list-style-type: none;
      text-align: left;

      li {
        margin: 8px;

        .fas {
          margin-right: 4px;
        }

        .fa-check-circle {
          color: var(--primary-color);
        }

        .fa-times-circle {
          color: #eb4d4b;
        }
      }
    }

    .button {
      border: none;
      width: 100%;
      padding: 12px 35px;
      margin-top: 1rem;
      background-color: #4314dc;
      color: #fff;
      border-radius: 40px;
      cursor: pointer;
      font-size: 16px;
      transition: all 0.3s;
    }

    .button:hover {
      background-color: #ba5502;
    }

    &.popular {
      border: 2px solid var(--primary-color);
      position: relative;
      transform: scale(1.08);

      span {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--primary-color);
        color: #fff;
        padding: 4px 20px;
        font-size: 18px;
        border-radius: 40px;
        width: 200px;
      }
    }

    &:hover {
      box-shadow: 5px 7px 67px -28px rgba(0, 0, 0, 0.37);
    }
  }
}


/*Reviews*/
.reviews {
  background-color: var(--secondary-color);
  padding: 5rem 5rem;
  box-shadow:  0px -1rem 1rem 1rem var(--secondary-color);
}

.testimonial-heading {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.content_T {
  background: linear-gradient(140deg, var(--primary-color),var(--bgcolor),var(--primary-color));
  height: 110%;
  width: 100%;
  padding: 5%;
  border-radius: 10px;
}

.testimonial-container {
  display: flex;
  gap: 50px;
  padding: 20px;
}

.testimonial-container::-webkit-scrollbar {
  display: none;
}

.testimonial-user {
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  align-items: center;
  background: #efefef;
  height: 400px;
  width: 350px;
  max-width: 90%;
  margin-top: 50px;
  padding: 0 20px 20px 20px;
  border-radius: 20px;
  border: 2px solid var(--primary-color);
  box-shadow: 0 0 27px 0 rgb(0 0 0 / 5%);
}


.testimonial-user>div {

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.testi-img {
  width: 120px;
  height: 120px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  transform: translate(0, -50%);
  box-shadow: 0 0 0 10px var(--testimonials-img-border);
}


.user-info h3 {
  color: #3685fb;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding: 3px;
}


.subscribe {
  background-color: var(--secondary-color);
}

.subscribe__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: auto;
  padding: 5rem;
  background-color: var(--text-dark);
}

.subscribe__form {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*  */
.subscribe__form form {
  width: 100%;
  max-width: 400px;
  display: flex;
  background-color: var(--extra-light);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
}

.subscribe__form input {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1rem;
  transition: box-shadow 0.3s ease;
}

.subscribe__form input:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.container {
  position: relative;
  width: 100%;
}

.items {
  width: 100%;
  height: 600px;
  max-width: 1100px;
  border-radius: 20px;
  overflow: hidden;
  background: #0000001a;
  backdrop-filter: blur(10px);
  margin: 50px;
  grid-template-columns: 1fr 2fr;
  display: grid;
  z-index: 10;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
body.dark-theme .items {
  background: #0000001a;
  backdrop-filter: blur(10px);
  box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px,
    /* Light shadow */ rgba(255, 255, 255, 0.3) 0px 30px 60px -30px,
    /* Light shadow / rgba(255, 255, 255, 0.35) 0px -2px 6px 0px inset; / Light inset shadow */
}

.contact {
  background-color: var(--extra-light);
}

.contact h1 {
  color: #ab45e7;

  font-family: "Noto Serif", serif;
  font-size: 2.8rem;

  text-align: center;
  margin: 20px;
}

.contact p {
  color: #dda0dde8;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.contact img {
  height: 400px;
  width: 400px;
}

/* .contact-form{
  position: relative;
  justify-content: center;
  align-items: center;
} */

.contact-form form {
  padding: auto;
}

.contact-form h1 {
  display: none;
}

.contact-form input {
  width: 50%;
  padding-left: 10px;
  padding-bottom: 10px;
  margin: 20px;
  margin-left: 30px;
  outline: none;
  border: none;
  font-size: 15px;
  background: none;
  border-bottom: 2px solid var(--extra-light);
  color: var(--extra-light);
  font-family: "Oxygen", sans-serif;
}

.contact-form input::placeholder {
  color: var(--Text-Color);
}

.contact-form #Name {
  margin-top: 100px;
}

.contact-form h4 {
  color: var(--extra-light);
  font-weight: 300;
  font-size: 15px;
  font-family: "Oxygen", sans-serif;
  margin-right: 150px;
  margin-top: 20px;
}

.contact-form textarea {
  background: none;
  border: none;
  padding: 10px;
  margin: 20px;
  margin-top: 10px;
  margin-left: 30px;
  border-bottom: 2px solid var(--extra-light);
  color: var(--extra-light);
  font-weight: 200;
  font-size: 15px;
  outline: none;
  width: 50%;
}

@media (max-width: 920px) {
  .items {
    grid-template-columns: 1fr;
  }

  .contact {
    display: none;
  }

  .contact-form h1 {
    display: block;
    color: var(--extra-light);
    text-align: center;
    margin-top: 20px;
  }

  .contact-form input {
    width: 75%;
  }

  .contact-form textarea {
    width: 75%;
  }
  .icon1 {
    left: 14.8%;
  }
  .icon2 {
    left: 14.8%;
  }
  .icon3 {
    left: 14.8%;
  }
}

@media (max-width: 1000px) {
  .items {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    padding: 2rem;
  }

  .contact {
    display: block;
  }

  .contact img {
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-form h1 {
    display: none;
  }
  .icon1 {
    left: 14.8%;
  }
  .icon2 {
    left: 14.8%;
  }
  .icon3 {
    left: 14.8%;
  }
}

.contact-form input,
.contact-form textarea {
  width: 50%;
  padding-left: 10px;
  padding-bottom: 10px;
  margin: 20px;
  margin-left: 30px;
  outline: none;
  border: none;
  font-size: 15px;
  background: none;
  border-bottom: 1px solid var(--text-dark);
  /* Change line color */
  color: var(--text-dark);
  font-family: "Oxygen", sans-serif;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: var(--text-dark);
}

@media (max-width: 920px) {
  .contact-form input,
  .contact-form textarea {
    width: 75%;
    color: var(--text-dark);
  }
  .icon1 {
    left: 14.8%;
  }
  .icon2 {
    left: 14.8%;
  }
  .icon3 {
    left: 14.8%;
  }
}

@media (max-width: 700px) {
  .contact-form input,
  .contact-form textarea {
    width: 75%;
    color: var(--text-dark);
  }
  .icon1 {
    left: 14.8%;
  }
  .icon2 {
    left: 14.8%;
  }
  .icon3 {
    left: 14.8%;
  }
}
/*  */
.toTop {
  width: 3vw;
  aspect-ratio: 1;
  background-color: var(--primary-color);
  border-radius: 50%;
  border-color: var(--primary-color);
  cursor: pointer;
  color: var(--extra-light);
  font-weight: 900;
  font-size: 1vw;
  position: fixed;
  padding: 1vw;
  bottom: 2rem;
  right: 2rem;
  transition: all 0.3s;
}

.toTop:hover {
  background-color: var(--primary-color-dark);
}

.footer {
  background-color: var(--text-dark);
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  color: var(--secondary-color);
  margin: auto;
  padding: 5rem;
}

.footer__col h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer__col h3 span {
  color: var(--primary-color);
}

.footer__col p {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer__col p:hover {
  color: var(--primary-color);
}

.footer__col p span {
  font-weight: 600;
}

.footer__col h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer__bar {
  max-width: var(--max-width);
  margin: auto;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  color: var(--secondary-color);
  border-top: 1px solid var(--text-light);
}

.social-media h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  padding-left: 110px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons i {
  font-size: 1.8rem;
  color: #fafcff;
  padding: .3rem 2rem;
  transition: color .5s;
}

.social-icons i:hover {
  color: var(--primary-color);
}

.social-icons li {
  list-style-type: none;
}

@media (width < 1200px) {
  .header__image img:nth-child(1) {
    max-width: 300px;
  }

  .header__image img:nth-child(2) {
    max-width: 200px;
  }
}

@media (width < 900px) {
  .nav__links {
    display: none;
  }

  .header__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .header__image {
    min-height: 500px;
  }

  .destination__grid {
    gap: 1rem;
  }

  .trip__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 600px) {
  .destination__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .trip__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .gallary__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .subscribe__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
